		/*body{background: #F9F9F9;}*/
		.pay_footer{position: fixed;bottom:0;left:0;width:100%}
		#back{width:600px;margin:0 auto;margin-top:11%}
		#back .logo{display: block;margin:0 auto;width:400px;}
		#back .img-text{display: block;margin:34px auto;width:100px;}
		.text{}
		.text .txt{width:180px;text-align:right;padding-right:10px;color:#787878;line-height:35px}
		.text .val{}
		.text input{width:362px;height:35px;background: transparent;font-size:13px;border:1px solid #ddd;padding-left:10px;margin-bottom:25px}
		.text input.pass{border:1px solid #F7004C}
		
		.text .val img{width:102px;height:35px;margin:0 5px}
		.text .val span{line-height:35px;color:#0076F7;font-size:13px;font-weight: bold;}
		.text a.submit{margin-left:200px;width:262px;height:40px;color:#fff;background: #0076F7;margin-top:30px;display: inline-block;text-align: center;line-height: 40px;cursor: pointer;}
		.modal-content{border-radius: 0;}
		.modal-header{background: #F2F2F2;}
		.modal-header .left,.modal-body p{font-size:18px;color:#333;font-weight: bold;}
		.modal-header .right{font-size:17px;font-weight: bold;cursor: pointer;}
		.modal-body{text-align:center;padding:30px 0}
		.modal-body p{margin:15px 0}
		.modal-body ul{display: inline-block;margin-top:30px}
		.modal-body ul li{float:left;}
		.modal-body ul li a{padding:8px 37px;background: #0076F7;color:#fff;display: block;}
		.modal-body ul li:last-child a{background: #DFDFDF;color:#666;margin-left:20px}
		.modal-dialog {margin: 7% auto;}
		#errormsg{clear:both;color:#FF0000;font-size:13px;padding-left:182px}
		.xiug{text-align: center;font-size: 23px;letter-spacing: 3px;font-weight: 600;color: #0076F7;margin: 29px 0;padding-left: 57px;}
		#back .img-text{text-align: center;font-size: 23px;letter-spacing: 3px;font-weight: 600;color: #0076F7;margin: 29px 0;padding-left: 57px;width:auto}