		.hot_brand{width:100%;background: rgba(0,0,0,0.2);color:#fff;padding:0 10px;border-bottom:1px solid #eee}
		.hot_brand p{font-size:14px;font-weight: bold;line-height:45px}
		.hot_brand a{color:#eee;display: inline-block;margin:4px 4px}
		.hot_brand:last-child{border-bottom:none}
		.hot_brand:nth-child(1),.hot_brand:nth-child(2){height:102px;overflow: hidden;}
		.hot_brand:nth-child(3),.hot_brand:nth-child(4),.hot_brand:nth-child(5){height:78.5px;overflow: hidden;}
		.category_act{position:absolute;left:182px;top:0;height:auto;z-index:999;display: none;}
		.category_open{display: none; background: #fff;width:500px;height:auto;min-height:440px;padding:15px;position: absolute;}
		.category_open p{color:#333}
		.category_open a{color:#666;font-size:15px}
		.hot_brand:nth-child(2) .category_open a, .hot_brand:nth-child(3) .category_open a{font-size:15px}
		.category_open a:hover,.hot_brand a:hover{color:#0075F6 !important;text-decoration: underline;}
		article{margin-top:40px}
		#one2 h4{font-size:18px;font-weight: bold;color:#F31D2F}	
		#one2 .img{font-size:0;overflow:hidden;height:347px;}
		#one2 .img a{display: block;width:298px;float:left;height:100%;border-right:1px solid #f5f5f5;padding:0 15px}
		#one2 .img h4,#one3 .img h4{font-size:15px;color:#333;width:100%;font-weight: 400;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;margin-bottom:5px}
		#one2 .img p,#one3 .img p{height:25px;width:100%;line-height:25px;font-size:14px;color:#787878;overflow: hidden;}
		#one2 .img p span,#one3 .img p span{display: inline-block;margin-left:8px;float:none}
		#one2 .img p:last-child span,#one3 .img p:last-child span{color:#F31D2F;}
		#one2 .img p:last-child span i,#one3 .img p:last-child span i{font-style: normal;font-size:21px;}
		#one2 .img img,#one3 .img img{width:100%;height:243px;margin-bottom:8px}
		#one2 .img a:last-child,#one3 .img a:last-child{border-right:none}
		#one2 .img a:hover h4,#one3 .img a:hover h4{color:#0075f6}
		
		#one3 h4,#two3 h4{font-size:18px;font-weight: bold;color:#666;float:left;margin-bottom: 20px;}
		#one3 span{display: block;float: right;font-size:13px;}
		#one3 .img,#two3 .img{font-size:0;overflow:hidden;clear: both;}
		
		/*#one3 .img img{float:left;width:299px;height:243px;border-right:1px solid #f5f5f5}*/
		#one3 .img a{display: block;width:298px;float:left;height:347px;border-right:1px solid #f5f5f5;padding:0 15px}
		
		#one3 .img a:last-child{border-right:none}
		#one3 .img a:nth-child(3){border-right:none}
		#one3 .img a:nth-child(1),#one3 .img a:nth-child(3){border-bottom:1px solid #f5f5f5;}
		#one3 .img a.bigs{width:598px;height:347px;padding:0}
		#one3 .img a.bigs img{width:100%;height:100%}
		
		#two3 .img img{width:auto;height:100px;border-right:2px solid #f5f5f5}
		#two3 .img a:last-child img{border-right:none}
		.row{position:relative}
		#myScrollspy{position:fixed;right:25px;bottom:2%;width:120px;background: #E6E6E6;text-align: center;z-index: 999;}
		#myScrollspy li{border-bottom:1px solid #fff}
		.nav li a{color:#999;cursor: pointer;}
		.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{color: #fff;cursor: default;background-color: #0075f6;width:100%;border-radius: 0;cursor: pointer;}
		.nav li:last-child a:hover{background: #E6E6E6;cursor: pointer;}
		.nav li a:hover{color: #fff;cursor: default;background-color: #0075f6;width:100%;border-radius: 0;cursor: pointer;}
		
		#two .img{font-size:0;overflow:hidden;clear: both;}
		#two .img a{display: block;width:298px;float:left;height:347px;border-right:1px solid #f5f5f5;padding:0 15px}
		#two .img h4{font-size:15px;color:#333;width:100%;font-weight: 400;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;margin-bottom:5px}
		#two .img p{height:25px;width:100%;line-height:25px;font-size:14px;color:#787878;overflow: hidden;}
		#two .img p span{display: inline-block;margin-left:8px;float:none}
		#two .img p:last-child span{color:#F31D2F;}
		#two .img p:last-child span i{font-style: normal;font-size:21px;}
		#two .img img{width:100%;height:243px;margin-bottom:8px}
		#two .img a.bigs img{width:100%;height:100%}
		#two{font-size:0}
		#two h4{font-size:18px;font-weight: bold;color:#666;float:left;margin-bottom: 20px;}
		#two span{display: block;float: right;font-size:13px;}
		#two .img{overflow:hidden;clear: both;}
		#two .img a.bigs{width:893px;padding:0}
		#two .img a:nth-child(2){border-bottom:1px solid #f5f5f5;}
		#two .img a:nth-child(2),#two .img a:nth-child(6){border-right:none}	