		/*.header_top .header_left a,.header_top .header_left{color:#333}*/
		.header_top .header_left a{margin-right: 8px;margin-left:8px}
		.header_left span{/*color:#999;*/font-weight: bold;font-size:13px}
		.header_left span i{display: inline-block;font-style: normal;transform: rotate(90deg);}
		.all_nav{position: relative; z-index: 88; border-bottom:1px solid #57A1F0;height: 37px;-webkit-logical-height:38px;}
		/*	.all_nav .navh{border-bottom:1px solid #57A1F0}*/
		.con{width:1200px;margin:0 auto}
		.category img{margin-top: -11px !important;-moz-margin-top: -10px !important;}
		.index_footer{margin-top:0}
		/*#one{height:750px}*/
		.one {border-top-width: 0 !important;}
		.one-left{width:182px;height:100%;background: #313131;}
		.one-left .img{position:relative;height:148px;}
		.one-left .img .img-bg{position: absolute;top: -49px;left:-8px;width:205px;height:197px;margin-left:-3px}
		.one-left .img .phone{position: absolute;width:100%;text-align: center;left:0;top:0px}
		.one-left .img .phone .img-phone{width:90px;height:90px;border-radius: 50%;cursor: pointer;}
		.one-left .img .phone p{line-height:46px;color:#fff;font-size: 13px;}
		
		.one-left li{width:100%;height:45px;background: #313131;line-height:45px;text-align: center;border-bottom:1px solid #3a3a3a;border-top: 1px solid #282828;}
		.one-left li a{color:#9E9E9E;display: inline-block;width:100%;height:100%;padding-left:20px;font-size:12px}
		.one-left li.one a{background: url(../img/x1.jpg) no-repeat 20px center;}
		.one-left li.two a{background: url(../img/w2.jpg) no-repeat 20px center;}
		.one-left li.three a{background: url(../img/x3.jpg) no-repeat 21px center;padding-left:11px;}
		.one-left li.four a{background: url(../img/x4.jpg) no-repeat 21px center;padding-left:5px;}
		.one-left li.five a{background: url(../img/x5.jpg) no-repeat 20px center;padding-left:13px;}
		.one-left li.six a{background: url(../img/x6.jpg) no-repeat 30px center;}
		.one-left li.seven a{background: url(../img/x7.jpg) no-repeat 20px center;padding-right:29px;}
		.one-left li.eig a{background: url(../img/x1.png) no-repeat 21px center;padding-left:16px;}
		.one-left li.act,.one-left li:hover{background: #3E3E3E;}
		.one-left li.one a:hover{background: url(../img/w1.jpg) no-repeat 20px center;}
		.one-left li.two a:hover{background: url(../img/x2.jpg) no-repeat 20px center;}
		.one-left li.three a:hover{background: url(../img/w3.jpg) no-repeat 21px center;}
		.one-left li.four a:hover{background: url(../img/w4.jpg) no-repeat 21px center;}
		.one-left li.five a:hover{background: url(../img/w5.jpg) no-repeat 20px center;}
		.one-left li.six a:hover{background: url(../img/w6.jpg) no-repeat 30px center;}
		.one-left li.seven a:hover{background: url(../img/w7.jpg) no-repeat 20px center;}
		
		.one-right{width:1010px;padding-top:60px;padding-left:26px}
		.one-right h2{font-size:24px;color:#666;font-weight: bold;}
		.one-right p{line-height:40px;color:#999;font-size:13px;font-weight: bold;}
		.one-right ul{margin-top:13px;}
		.one-right ul li{overflow:hidden;padding:35px 0;border-bottom:1px solid #E3E3E3}
		.one-right ul li .left span{font-size:17px;font-weight: bold;color:#666}
		.one-right ul li .left a{display: inline-block;margin-left:15px;color:#FF7647;font-size:12px}
		.one-right ul li .right a{font-weight: bold;}
		.one-right ul li .left p{padding-left:43px;line-height:10px}
		
		.modal-content{border-radius: 0;}
		.modal-header{background: #F2F2F2;}
		.modal-header .left,.modal-body p{font-size:18px;color:#333;font-weight: bold;}
		.modal-header .right{font-size:17px;font-weight: bold;cursor: pointer;color:#999}
		.modal-body{text-align:center;padding:30px 0;position:relative;padding-bottom:120px}
		#myhead .modal-dialog {margin: 3% auto;width:690px}
		#myhead .modal_one{text-align: center;margin-top:14%}
		#myhead .modal_one i{display: block;width:32%;font-style: normal;height:37px;line-height:37px;background: #0075f6;color:#fff;margin:0 auto;margin-bottom: 15px;cursor: pointer;}
		#myhead .modal_one span{color:#aaa}
		#myhead .modal_two{padding:15px}
		#myhead .modal_two .sure{display: block;width:160px;font-style: normal;height:37px;line-height:37px;background: #F2F2F2;color:#999;margin:0 auto;margin-top:50px;margin-right:8px;border: none;}
		#myhead .modal_two input{cursor: pointer;}
		#myhead .modal_three img{margin:30px 0}
		#myhead .modal_three p{letter-spacing: 1px;color:#666;font-size:17px}
		#myhead .modal_three .success{display: block;width:170px;font-style: normal;height:37px;line-height:37px;background: #0075f6;color:#fff;margin:0 auto;margin-top: 15px;cursor: pointer;}