<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Đia chỉ nhận hàng của tôi</title>
    <link href="../css/bootstrap.css?version=2.0.6" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.0.6">
    <link href="../css/style.css?version=2.0.6" rel="stylesheet">
    <link rel="stylesheet" href="../css/oneself.css?version=2.0.6" />
    <link href="../css/index_add_img.css?version=2.0.6" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.0.6">
    <link rel="stylesheet" href="../css/upload.css?version=2.0.6" />
    <link rel="stylesheet" href="../css/address.css?version=2.0.6" />
    <link rel="stylesheet" href="../css/base.css?version=2.0.6">
    <script src="../js/jquery.js?version=2.0.6"></script>
    <style>
    .site {
        width: 1000px;
        min-height: 500px !important;
        margin: 0;
    }

    .site__main {
        padding-left: 0;
    }

    .site__main-item {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .site__m-i-r3-e-text {
        display: inline-block;
    }

    .site__m-i-r3-d-text {
        display: inline-block;
    }

    .footer {
        float: left;
    }
    </style>
</head>

<body ng-app="indexApp" ng-controller="addressCtrl">
    <header class="header" id="header"></header>
    <div class="all all_nav">
        <div class="content navh" style="overflow: inherit;">
            <div class="category left" style="width:182px;height:37px;background: transparent;">
            </div>
            <div class="nav left">
                <a href="../index.html" class="">Trang chủ</a>
            </div>
            <div class="iwant right">
                <a href="./bill.html" class="">Tôi muốn thanh toán nợ  &gt;</a>
            </div>
        </div>
    </div>
    <!--板块-->
    <article style="position: relative; z-index: 100; min-height: 500px;">
        <div class="con">
            <div id="one" style="height: auto;">
                <div class="left one-left">
                    <div class="img">
                        <img src="../img/36.png" alt="" class="img-bg" />
                        <div class="phone">
                            <img src="../img/37.png" onerror="nofind(this)" alt="" class="img-phone" data-toggle="modal" data-target="#myhead" />
                            <script type="text/javascript">
                            function nofind(img) {
                                img.src = "../img/37.png";
                                img.onerror = null;
                            }
                            </script>
                            <p>Chào buổi sáng！</p>
                        </div>
                    </div>
                    <ul>
                        <li class="one">
                            <a href="personal.html">Trung tâm cá nhân</a>
                        </li>
                        <li class="two">
                            <a href="oneself.html">Trung tâm an ninh</a>
                        </li>
                        <li class="three">
                            <a href="order.html">Đơn hàng của tôi</a>
                        </li>
                        <li class="four">
                            <a href="bill.html">Hóa đơn của tôi</a>
                        </li>
                        <li class="five">
                            <a href="collection.html">Bộ sưu tập của tôi</a>
                        </li>
                        <li class="seven">
                            <a href="complaint.html">Góp ý của tôi</a>
                        </li>
                        <li class="eig act">
                            <a href="address.html">Địa chỉ nhận hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="right one-right" ng-controller="addCtrl">
                    <h2>Đia chỉ nhận hàng của tôi </h2>
                    <h5>Đã thêm <span ng-bind="addrlistLength"></span>địa chỉ nhận  hàng , Có thể thêm tối đã 5 địa chỉ nhận  hàng</h5>
                    <section class="site" id="one">
                        <!-- <div class="site__title col-xs-24">Xác nhận địa chỉ nhận hàng</div> -->
                        <div class="site__main col-xs-24">
                            <li class="site__main-item" ng-class="{ 'site__main-item_def': item.isdefault === 'Y', 'site__main-item_active': addrlistData_index === index }" ng-click="set_active(index)" ng-repeat="(index, item) in addrlistData">
                                <div class="site__m-i-row1 col-xs-24">
                                    <div class="site__m-i-r1-name js_username col-xs-24" ng-bind="item.username"></div>
                                    <div class="site__m-i-r1-tel js_msisdn col-xs-24" ng-bind="item.msisdn"></div>
                                </div>
                                <div class="site__m-i-row2 js_address col-xs-24">
                                    <div ng-bind="item.address"></div>
                                    <div ng-bind="item.wardsName + ', ' + item.districtsName + ', ' + item.provincesName"></div>
                                </div>
                                <div class="site__m-i-row3 col-xs-24">
                                    <div class="site__m-i-r3-def">
                                        <span class="site__m-i-r3-f-set moren" ng-click="moren(item.id,item.isdefault,item.msisdn,item.address,item.username,item.wards_id,item.districts_id,item.provinces_id)">Đặt làm mặc định</span>
                                        <span class="site__m-i-r3-f-status">mặc định</span>
                                    </div>
                                    <div class="site__m-i-r3-edit" ng-click="xiugai({id:item.id,isdefault:item.isdefault,msisdn:item.msisdn,address:item.address,username:item.username,districts_id:item.districts_id,provinces_id:item.provinces_id,wards_id:item.wards_id,model:'modify'})">
                                    <!-- <div class="site__m-i-r3-edit" ng-click="xiugai(item.id,item.isdefault,item.msisdn,item.address,item.username)"> -->
                                        <span class="site__m-i-r3-e-text">Sửa</span>
                                    </div>
                                    <div class="site__m-i-r3-del">
                                        <span class="site__m-i-r3-d-text" ng-click="remove(item.id)">Xoá</span>
                                    </div>
                                    <div id="myModal123-label" data-toggle="modal" data-target="#myModal123" style="opacity: 0;"></div>
                                </div>
                                <div class="site__m-i-row4">√</div>
                            </li>
                            <div class="site__main-add" ng-click="addppp()">
                                <div class="site__m-a-row1"></div>
                                <div class="site__m-a-row2">Thêm địa chỉ nhận hàng</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
    <!-- 弹出模态框（Modal） -->
    <!-- 弹出模态框（更换头像） -->
    <div class="modal fade" id="myhead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="left">Cài đặt ảnh đại diện</div>
                    <div class="right" data-dismiss="modal"><span class="alert__b-m-t-close"></span></div>
                </div>
                <div class="modal-body">
                    <div class="modal_one">
                        <i class="uphead">Tải ảnh đại diện</i>
                        <span>Hỗ trợ định dạng jpg, png or bmp, kích cỡ không quá 2M</span>
                    </div>
                    <div class="modal_two" style="display: none">
                        <div class="imageBox">
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="action">
                            <div class="new-contentarea tc">
                                <a href="javascript:void(0)" class="upload-img">
                                    <label for="upload-file">Tải ảnh lên</label>
                                </a>
                                <input type="file" class="" name="upload-file" id="upload-file" />
                            </div>
                            <input type="button" id="btnCrop" class="Btnsty_peyton" value="Xem trước">
                            <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+">
                            <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
                        </div>
                        <div class="cropped"></div>
                        <div class="right">
                            <!--<i class="sure" disabled="true">Xác nhận</i>-->
                            <button type="text" class="sure" disabled="true" ng-click="uploadFiles()">Xác nhận</button>
                        </div>
                    </div>
                    <div class="modal_three" style="display: none">
                        <img src="../img/32.png" alt="" />
                        <p>Tải ảnh đại diện thành công</p>
                        <i class="success" data-dismiss="modal">Xác nhận</i>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.0.6"></script>
    <script src="../js/bootstrap.js?version=2.0.6"></script>
    <script type="text/javascript" src="../js/cropbox.js?version=2.0.6"></script>
    <script src="../js/md555.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <!-- tcy -start- -->
    <script src="../js/md5.js?version=2.0.6"></script>
    <script src="../js/common.js?version=2.0.6"></script>
    <!-- tcy -end- -->
    <script src="../js/getMd5Code.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/userCenterJS/center.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../js/common/common.js?version=2.0.6" type="text/javascript" charset="utf-8"></script> -->
    <script src="../js/common/check_login.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script>

    $(window).load(function() {
        var options = {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '../img/37.png'
        }
        var cropper = $('.imageBox').cropbox(options);
        $('#upload-file').on('change', function() {
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            //this.files = [];
        })
        $('#btnCrop').on('click', function() {
            var img = cropper.getDataURL();
            $('.cropped').html('');

            $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;" class="upimg" id="upimg"><p>180px*180px</p>');
            setTimeout(function() {
                var img = $('.cropped').html()
                if (img == '' || img == 0) {

                } else {
                    $('.sure').attr('disabled', false).css('background', '#0075f6').css('color', '#fff');
                    var imgSrc = $('#upimg').attr('src');
                    upload(imgSrc);
                }
            }, 500)
        })
        $('#btnZoomIn').on('click', function() {
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function() {
            cropper.zoomOut();
        })
    });

    function upload(imgSrcs) {
        var imgSrc = imgSrcs;
        var blob = dataURLtoBlob(imgSrc);

        function dataURLtoBlob(dataurl) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], {
                type: mime
            });
        }
        $('.sure').click(function() {
            var funid = localStorage.getItem("funId");
            var formData = new FormData();
            formData.append("funid", funid);
            formData.append("files", blob, 'jpg');
            F._uploadFilesUser(formData, function(ret) {

            });
        })
    }

    $('.uphead').click(function() {
        $('.modal_one').hide();
        $('.modal_two').show();
    })



    $('.sure').click(function() {

        $('.modal_two').hide();
        $('.modal_three').show();
        var img = $('.upimg').attr('src');
        $('.img-phone').attr('src', img);
        $('.modal-header').find('.left').html('Cài đặt')

    })
    $('.success').click(function() {
        setTimeout(function() {
            $('.modal-header').find('.left').html('Cài đặt ảnh đại diện')
            $('.modal_one').show();
            $('.modal_two').hide();
            $('.modal_three').hide();

        }, 1500)
        $('#upimg').attr('src', '');
        $('#upload-file').val('');
        //window.location.href="";
    });
    $('.addAddrli img').click(function() {
        $('#names,#phone,#textarea').val('');

    })

    $('#phone').blur(function() {
        var phone = $("#phone").val();
        if (!F._phoneExpr.test(phone)) {
            $('#errormsg').show();
            $('#errormsg small').html('định dạng số điện thoại sai');
            return;
        }

        $('#errormsg').hide();

    })
    $('#names').blur(function() {

        var name = $("#names").val();
        if (name.length <= 1) {
            $('#errormsg').show();
            $('#errormsg small').html('Định dạng tên không đúng');
            return;
        }

        $('#errormsg').hide();
    })
    $('#textarea').blur(function() {
        var addr = $('#textarea').val();
        if (addr.length < 1) {
            $('#errormsg').show();
            $('#errormsg small').html('Định dạng địa chỉ sai');
            return;
        }
        $('#errormsg').hide();

    })

    // function gotoFind() {
    //     var findcontent = $("#findIpt").val();
    //     if (findcontent != "") {
    //         window.location.href = "./search.html?findcontent=" + findcontent;
    //     }
    // }

    // function entersearch() {
    //     var event = window.event || arguments.callee.caller.arguments[0];
    //     if (event.keyCode == 13)

    //     {
    //         gotoFind();
    //     }
    // }
    </script>
    <script src="../js/userCenterJS/address.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
</body>

</html>