<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="">
    <title>Hóa đơn của tôi</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111518610-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111518610-1');
    </script>
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <link href="../css/bootstrap.css?version=2.1.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.1.1">
    <link href="../css/style.css?version=2.1.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/oneself.css?version=2.1.1" />
    <link href="../css/index_add_img.css?version=2.1.1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.1.1">
    <link rel="stylesheet" href="../css/upload.css?version=2.1.1" />
    <link rel="stylesheet" href="../css/bill.css?version=2.1.1" />
    <link rel="stylesheet" href="../css/base.css?version=2.1.1">
    <style>
        footer {
            float: left;
        }
    </style>
</head>

<body ng-app="billApp" ng-controller="billCtrl">
    <header class="header" id="header"></header>
    <div class="all all_nav">
        <div class="content navh" style="overflow: inherit;">
            <div class="category left" style="width:182px;height:37px;background: transparent;">
                <!--<a href="#" class="category_a"></a>-->
                <!-- <img src="../img/h.jpg" alt="" style="margin-left: -12px;width: 205px;margin-top: -12px;" /> -->
            </div>
            <div class="nav left">
                <a href="../index.html" class="">Trang chủ</a>
            </div>
            <div class="iwant right">
                <a href="./bill.html" class="">Tôi muốn thanh toán nợ  &gt;</a>
            </div>
        </div>
    </div>
    <!--板块-->
    <article style="position: relative; z-index: 100; min-height: 500px;">
        <div class="con">
            <div id="one" style="height:auto">
                <div class="left one-left">
                    <div class="img">
                        <img src="../img/36.png" alt="" class="img-bg" />
                        <div class="phone">
                            <img src="../img/37.png" onerror="nofind(this)" alt="" class="img-phone" data-toggle="modal" data-target="#myhead" />
                            <script type="text/javascript">
                            function nofind(img) {
                                img.src = "../img/37.png";
                                img.onerror = null;
                            }
                            </script>
                            <p>Chào buổi sáng！</p>
                        </div>
                    </div>
                    <ul>
                        <li class="one">
                            <a href="personal.html">Trung tâm cá nhân</a>
                        </li>
                        <li class="two">
                            <a href="oneself.html">Trung tâm an ninh</a>
                        </li>
                        <li class="three">
                            <a href="order.html">Đơn hàng của tôi</a>
                        </li>
                        <li class="four act">
                            <a href="bill.html">Hóa đơn của tôi</a>
                        </li>
                        <li class="five">
                            <a href="collection.html">Bộ sưu tập của tôi</a>
                        </li>
                        <li class="seven">
                            <a href="complaint.html">Góp ý của tôi</a>
                        </li>
                        <li class="eig">
                            <a href="address.html">Địa chỉ nhận hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="right one-right">
                    <h2>Hóa đơn của tôi </h2>
                    <div class="bill">
                        <table cellspacing="" cellpadding="0" id="J_tab_fam">
                            <dl>
                                <dd class="nav-item act" data-index="1" ng-click="reqType(1)">Hoá đơn kì này</dd>
                                <dd class="nav-item" data-index="2" ng-click="reqType(2)">Hoá đơn kỳ sau</dd>
                                <dd class="nav-item" data-index="3" ng-click="reqType(3)">Hoá đơn chưa xuất</dd>
                                <dd class="nav-item" data-index="4" ng-click="reqType(4)">Hoá đơn đã than toán</dd>
                                <dd class="nav-item" data-index="5" ng-click="reqType(5)">Hóa đơn hết hạn</dd>
                            </dl>
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Số kỳ</th>
                                    <th>Trả góp hàng tháng</th>
                                    <!-- <th>Số tiền phải trả hàng tháng</th> -->
                                    <!-- <th>Phí dịch vụ hàng tháng</th> -->
                                    <th>Thời gian hết hạn</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in billList">
                                    <td ng-bind="item.orderId"></td>
                                    <td ng-bind="item.periods"></td>
                                    <td ng-bind="((item.interest+item.principal) | priceFormat) +' VND'"></td>
                                    <!-- <td ng-bind="(item.principal | priceFormat) +' VND'"></td> -->
                                    <!-- <td ng-bind="(item.interest | priceFormat) +' VND'"></td> -->
                                    <td ng-bind="item.expireDate"></td>
                                    <td ng-click="openbillDetail(item.orderId,item.transactionId,item.status,item.periods)">
                                        <p><a href="" style="color: #444;">Tình trạng cụ thể</a></p>
                                        <div class="ppp {{tdname}}">
                                            <p ng-if="reqPara.period=='1'||reqPara.period=='5'"><a ng-bind="period_json[item.status]"></a></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="item in billLists">
                                    <td ng-bind="item.orderId"></td>
                                    <td ng-bind="item.periods"></td>
                                    <td ng-bind="(item.interest | priceFormat) +' VND'"></td>
                                    <td ng-bind="(item.principal | priceFormat) +' VND'"></td>
                                    <td ng-bind="item.expireDate"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="changePage">
                        <div style="margin-bottom: 30px;">
                            <button id="lastPagebtn" ng-click="lastPage()">&lt;</button>
                            <span style="padding-top: 3px;">Trang hiện tại: <span ng-bind="reqPara.page"></span>&nbsp;&nbsp;</span>
                            <span style="padding-top: 3px;">Trang : <span ng-bind="totalPage"></span> tiên</span>
                            <button id="nextPagebtn" ng-click="nextPage()">&gt;</button>
                        </div>
                    </div>
                    <div class="no_list">
                        <img src="../img/bill.jpg" alt="" />
                        <p>Bạn chưa có hóa đơn nào cả, mau đặt hàng ngay thôi</p>
                        <a href="../index.html">Đến trang chủ >></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- 弹出模态框（更换头像） -->
    <div class="modal fade" id="myhead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="left">Cài đặt ảnh đại diện</div>
                    <div class="right" data-dismiss="modal"><span class="alert__b-m-t-close"></span></div>
                </div>
                <div class="modal-body">
                    <div class="modal_one">
                        <i class="uphead">Tải ảnh đại diện</i>
                        <span>Hỗ trợ định dạng jpg, png or bmp, kích cỡ không quá 2M</span>
                    </div>
                    <div class="modal_two" style="display: none">
                        <div class="imageBox">
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="action">
                            <div class="new-contentarea tc">
                                <a href="javascript:void(0)" class="upload-img">
                                    <label for="upload-file">Tải ảnh lên</label>
                                </a>
                                <input type="file" class="" name="upload-file" id="upload-file" />
                            </div>
                            <input type="button" id="btnCrop" class="Btnsty_peyton" value="Xem trước">
                            <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+">
                            <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
                        </div>
                        <div class="cropped"></div>
                        <div class="right">
                            <!--<i class="sure" disabled="true">Xác nhận</i>-->
                            <button type="text" class="sure" disabled="true" ng-click="uploadFiles()">Xác nhận</button>
                        </div>
                    </div>
                    <div class="modal_three" style="display: none">
                        <img src="../img/32.png" alt="" />
                        <p>Tải ảnh đại diện thành công</p>
                        <i class="success" data-dismiss="modal">Xác nhận</i>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.1.1"></script>
    <script src="../js/bootstrap.js?version=2.1.1"></script>
    <script type="text/javascript" src="../js/cropbox.js?version=2.1.1"></script>
    <!-- <script type="text/javascript" src="../js/search.js?version=2.1.1"></script> -->
    <script src="../js/ajax.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md555.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md5.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/userCenterJS/bill.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../js/common/common.js?version=2.1.1" type="text/javascript" charset="utf-8"></script> -->
    <script src="../js/common/check_login.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common/getUserInfo.js?version=2.1.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common.js?version=2.1.1"></script>
    <script>

    $(function() {
        var a = $('.bill').html();
        if (a == '' || a == 0) {
            $('.no_list').show();
        } else {
            $('.no_list').hide();
        }
    })

    $(".nav-item").on('click', function() {
        var self = $(this);
        $('.nav-item').removeClass('act');
        self.addClass('act');

        F._setUrl('status', self.data('index'));
    });

    // $('.one-right dl').find('dd').each(function(index) {
    //     $(this).click(function() {
    //         if ($(this).is('.act') == false) {
    //             $('.one-right dl dd').removeClass('act').eq(index).addClass('act');
    //             //					$('.table_list .dl_list').stop().hide().eq(index).stop().show();
    //         }
    //     })
    // })
    $(window).load(function() {
        var options = {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '../img/37.png'
        }
        var cropper = $('.imageBox').cropbox(options);
        $('#upload-file').on('change', function() {
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            //this.files = [];
        })
        $('#btnCrop').on('click', function() {
            var img = cropper.getDataURL();
            $('.cropped').html('');

            $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;" class="upimg" id="upimg"><p>180px*180px</p>');
            setTimeout(function() {
                var img = $('.cropped').html()
                if (img == '' || img == 0) {

                } else {
                    $('.sure').attr('disabled', false).css('background', '#0075f6').css('color', '#fff');
                    var imgSrc = $('#upimg').attr('src');
                    upload(imgSrc);
                }
            }, 500)
        })
        $('#btnZoomIn').on('click', function() {
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function() {
            cropper.zoomOut();
        })
    });

    function upload(imgSrcs) {
        var imgSrc = imgSrcs;
        var blob = dataURLtoBlob(imgSrc);

        function dataURLtoBlob(dataurl) {
            var arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], {
                type: mime
            });
        }
        $('.sure').click(function() {
            var funid = localStorage.getItem("funId");
            var formData = new FormData();
            formData.append("funid", funid);
            formData.append("files", blob, 'jpg');
            F._uploadFilesUser(formData, function(ret) {

            });
        })
    }

    $('.uphead').click(function() {
        $('.modal_one').hide();
        $('.modal_two').show();
    })



    $('.sure').click(function() {

        $('.modal_two').hide();
        $('.modal_three').show();
        var img = $('.upimg').attr('src');
        $('.img-phone').attr('src', img);
        $('.modal-header').find('.left').html('Cài đặt')

    })
    $('.success').click(function() {
        setTimeout(function() {
            $('.modal-header').find('.left').html('Cài đặt ảnh đại diện')
            $('.modal_one').show();
            $('.modal_two').hide();
            $('.modal_three').hide();

        }, 1500)
        $('#upimg').attr('src', '');
        $('#upload-file').val('');
        //window.location.href="";
    });

    // function gotoFind() {
    //     var findcontent = $("#findIpt").val();
    //     if (findcontent != "") {
    //         window.location.href = "./search.html?findcontent=" + findcontent;
    //     }
    // }

    // function entersearch() {
    //     var event = window.event || arguments.callee.caller.arguments[0];
    //     if (event.keyCode == 13)

    //     {
    //         gotoFind();
    //     }
    // }
    </script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>