<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7;IE=EDGE">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Điện thoại di động</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306571-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112306571-1');
    </script>
    <link href="../css/bootstrap.css?version=2.5.0-alpha" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.5.0-alpha">
    <link href="../css/style.css?version=2.5.0-alpha" rel="stylesheet">
    <link href="../css/indel.css?version=2.5.0-alpha" rel="stylesheet">
    <link href="../css/index_add_img.css?version=2.5.0-alpha" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.5.0-alpha">
    <link rel="stylesheet" href="../css/phone.css?version=2.5.0-alpha" />
    <link rel="stylesheet" href="../css/base.css?version=2.5.0-alpha">
    <style>
        /* tcy -start- */

        #two6 {
            margin-bottom: 40px;
        }

        #pinpai {
            margin-bottom: 50px;
        }

        .bg__img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next {
            display: none;
        }


        /* tcy -end- */
    </style>
</head>

<body ng-app="phoneApp" ng-controller="cellCtrl">
    <header class="header" id="header"></header>
    <div class="all">
        <div class="content navh">
            <div class="category left">
                <a href="#" class="category_a">Điện thoại di động</a>
            </div>
            <div class="nav left">
                <a href="../index.html" class="">Trang chủ</a>
            </div>
            <div class="iwant right">
                <a href="./bill.html" target="_self" class="">Tôi muốn thanh toán nợ &gt;</a>
            </div>
        </div>
    </div>
    <div ng-controller="ppqPhoneCtrl">
        <div class="all banner_c">
            <div class="content">
                <div class="index_banner">
                    <div class="swiper-container" id="index_banner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="item in cptphone">
                                <a ng-click="product(item.typeId,item.brandId)">
                                    <div class="swiper-slide-img" style="background-image: url({{item.imageUrl}});"></div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="dt-swiper-prev swiper-button-prev iconfont"></div>
                        <div class="dt-swiper-next swiper-button-next iconfont"></div>
                    </div>
                </div>
                <div class="category_1 left">
                    <div class="hot_brand">
                        <p>Thương hiệu nổi tiếng</p>
                        <a ng-repeat="item in ppq">
                            <span ng-bind="item.name" ng-click="gotoMore2(item.id)"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--板块-->
        <!--板块一-->
        <!--新品首发模块-->
        <div id="center" ng-controller="newProductCtrl">
            <div class="content" style="overflow: visible;">
                <div class="banner1__title-left" style="padding-top: 30px; width: 100%; color: #F31D2F;">Hàng mới ra</div>
                <div class="banner1__main-bottom" ng-init="newProduct">
                    <li class="banner1__m-b-item" ng-repeat="newProduct_item in newProduct" ng-click="product(newProduct_item.typeId,newProduct_item.brandId)">
                        <div class="banner1__m-b-i-img" style="background-image: url({{ newProduct_item.imageUrl }});"></div>
                        <div class="banner1__m-b-i-title" ng-bind="newProduct_item.name"></div>
                        <div class="banner1__m-b-i-price">
                            <!-- Giá bán: -->
                            <span class="banner1__m-b-i-p-money" ng-bind="newProduct_item.maxprice | priceFormat">3000</span> VND</div>
                        <div class="banner1__m-b-i-fenqi">
                            <span class="banner1__m-b-i-f-money" ng-bind="newProduct_item.maxprice/12 | priceFormat"></span>
                            <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div id="centers" ng-controller="allPhoneCtrl">
            <section class="banner1" ng-repeat="classfy in Products" ng-if="classfy._total">
                <div class="banner1__title">
                    <div class="banner1__title-left" ng-bind="classfy.name">XIAOMI</div>
                    <div class="banner1__title-right" ng-click="gotoMore2(classfy._sub_top[0].classfyId)">Xem nhiều hơn &gt; </div>
                </div>
                <div class="banner1__main">
                    <div class="banner1__main-top">
                        <div ng-repeat="sub_top_item in classfy._sub_top" ng-class="{ 'banner1__main-top-1': sub_top_item.position === 1, 'banner1__main-top-2': sub_top_item.position === 2, }"
                            style="background-image: url({{sub_top_item.imageUrl}});" ng-click="product(sub_top_item.typeId,sub_top_item.brandId)"></div>
                    </div>
                    <div class="banner1__main-bottom">
                        <li class="banner1__m-b-item" ng-repeat="sub_bottom_item in classfy['_sub_bottom']" ng-click="product(sub_bottom_item.typeId,sub_bottom_item.brandId)">
                            <div class="banner1__m-b-i-img" style="background-image: url({{ sub_bottom_item.imageUrl }});"></div>
                            <div class="banner1__m-b-i-title" ng-bind="sub_bottom_item.name"></div>
                            <div class="banner1__m-b-i-price">
                                <!-- Giá bán: -->
                                <span class="banner1__m-b-i-p-money" ng-bind="sub_bottom_item.maxprice | priceFormat">3000</span> VND</div>
                            <div class="banner1__m-b-i-fenqi">
                                <span class="banner1__m-b-i-f-money" ng-bind="sub_bottom_item.maxprice/12 | priceFormat">500</span>
                                <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
            <article id="two2" style="display: none;">
            </article>
            <article id="two3" style="display: none;">
            </article>
            <article id="two4" style="display: none;">
            </article>
            <article id="two5" style="display: none;">
            </article>
            <article id="two6" style="display: none;">
            </article>
            <article id="two7" style="display: none;">
            </article>
            <article id="two8" style="display: none;">
            </article>
            <article id="two9" style="display: none;">
            </article>
            <div id="pinpai">
                <div class="content">
                    <h4>Dãy thương hiệu</h4>
                    <div class="img" style="clear: both;">
                        <a ng-repeat="item2 in ppq" ng-click="gotoMore2(item2.id)">
                            <span class="bg__img" style="height:100px;width: 150px; background-image: url({{item2.imageUrl}});"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div id="pinpai">
                <div class="content">
                    <h4>Dãy thương hiệu</h4>
                    <div class="img" style="clear: both;">
                        <a ng-repeat="item2 in ppq" ng-click="gotoMore2(item2.id)"><img src="{{item2.imageUrl}}" alt="" /></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.5.0-alpha"></script>
    <script type="text/javascript" src="../js/swiper.min.js?version=2.5.0-alpha"></script>
    <!-- <script src="../js/yii.js?version=2.5.0-alpha"></script> -->
    <script src="../js/base.js?version=2.5.0-alpha"></script>
    <script src="../js/img_silder.js?version=2.5.0-alpha"></script>
    <script src="../js/xSlider.js?version=2.5.0-alpha"></script>
    <script src="../js/popup.js?version=2.5.0-alpha"></script>
    <script src="../js/md555.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md5.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/getMd5Code.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../js/sys/config.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script> -->
    <script src="../js/common.js?version=2.5.0-alpha"></script>
    <script>

        var swiper = new Swiper('#index_banner', {

            pagination: '.swiper-pagination',
            paginationClickable: true,
            longSwipesRatio: 0.3,
            touchRatio: 1,
            autoplay: 4000,
            observer: true, //修改swiper自己或子元素时, 自动初始化swiper
            observeParents: true, //修改swiper的父元素时, 自动初始化swiper
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
        });


        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }
    </script>
    <script src="../js/phone.js?version=2.5.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>