<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Laptop</title>
    <link href="../css/bootstrap.css?version=2.0.6" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.0.6">
    <link href="../css/style.css?version=2.0.6" rel="stylesheet">
    <link href="../css/indel.css?version=2.0.6" rel="stylesheet">
    <link href="../css/index_add_img.css?version=2.0.6" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.0.6">
    <link rel="stylesheet" href="../css/computer.css?version=2.0.6" />
    <link rel="stylesheet" href="../css/base.css?version=2.0.6">
</head>

<body ng-app="computerApp" ng-controller="computerController">
    <header class="header" id="header"></header>
    <div class="all">
        <div class="content navh">
            <div class="category left">
                <a href="#" class="category_a">Laptop</a>
            </div>
            <div class="nav left">
                <a href="../index.html" class="">Trang chủ</a>
            </div>
            <div class="iwant right">
                <a href="./bill.html" target="_self" class="">Tôi muốn thanh toán nợ &gt;</a>
            </div>
        </div>
    </div>
    <div id="center" ng-controller="brandProductCtrl">
        <div class="all banner_c">
            <div class="content">
                <div class="index_banner" ng-controller="computerCtrl">
                    <div class="swiper-container" id="index_banner" ng-init="cptBanner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="item in cptBanner" ng-click="product(item.typeId,item.brandId)">
                                <div class="swiper-slide-img" style="background-image: url({{item.imageUrl}});"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="dt-swiper-prev swiper-button-prev iconfont"></div>
                        <div class="dt-swiper-next swiper-button-next iconfont"></div>
                    </div>
                </div>
                <div class="category_1 left">
                    <div class="hot_brand">
                        <p>Thương hiệu nổi tiếng</p>
                        <p ng-repeat="item in nav">
                            <a>
                                <span ng-bind="item.name" ng-click="gotoMore2(item.id)"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--板块-->
        <!--板块一-->
        <div ng-controller="hotProductCtrl">
            <section class="banner1" ng-if="newComputer._sub_top">
                <div class="banner1__title">
                    <div class="banner1__title-left" style="padding-top: 30px; width: 100%; color: #F31D2F;">Đề cử</div>
                    <!-- <div class="banner1__title-right" ng-click="gotoMore2(classfy._sub_top[0].classfyId)">Xem nhiều hơn &gt; </div> -->
                </div>
                <div class="banner1__main">
                    <div class="banner1__main-top">
                        <div ng-repeat="top_item in newComputer._sub_top" ng-class="{ 'banner1__main-top-1': top_item.position === 1, 'banner1__main-top-2': top_item.position === 2, }"
                            style="background-image: url({{top_item.imageUrl}});" ng-click="product(top_item.typeId,top_item.brandId)"></div>
                    </div>
                    <div class="banner1__main-bottom">
                        <li class="banner1__m-b-item" ng-repeat="bottom_item in newComputer._sub_bottom" ng-click="product(bottom_item.typeId,bottom_item.brandId)">
                            <div class="banner1__m-b-i-img" style="background-image: url({{ bottom_item.imageUrl }});"></div>
                            <div class="banner1__m-b-i-title" ng-bind="bottom_item.name"></div>
                            <div class="banner1__m-b-i-price">
                                <!-- Giá bán: -->
                                <span class="banner1__m-b-i-p-money" ng-bind="bottom_item.maxprice | priceFormat">3000</span> VND</div>
                            <div class="banner1__m-b-i-fenqi">
                                <span class="banner1__m-b-i-f-money" ng-bind="bottom_item.maxprice/12 | priceFormat">500</span>
                                <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
        </div>
        <div class="" ng-controller="iphoneProductCtrl">
            <section class="banner1" ng-if="AdAppleComputer._sub_top">
                <div class="banner1__title">
                    <div class="banner1__title-left">Khu Apple</div>
                    <div class="banner1__title-right" ng-click="gotoMore2(AdAppleComputer._sub_top[0].classfyId)">Xem nhiều hơn &gt; </div>
                </div>
                <div class="banner1__main">
                    <div class="banner1__main-top">
                        <div ng-repeat="top_item in AdAppleComputer._sub_top" ng-class="{ 'banner1__main-top-3': top_item.position === 1, 'banner1__main-top-2': top_item.position === 2, }"
                            style="background-image: url({{top_item.imageUrl}});" ng-click="product(top_item.typeId,top_item.brandId)"></div>
                    </div>
                    <div class="banner1__main-bottom">
                        <li class="banner1__m-b-item" ng-repeat="bottom_item in AdAppleComputer._sub_bottom" ng-click="product(bottom_item.typeId,bottom_item.brandId)">
                            <div class="banner1__m-b-i-img" style="background-image: url({{ bottom_item.imageUrl }});"></div>
                            <div class="banner1__m-b-i-title" ng-bind="bottom_item.name"></div>
                            <div class="banner1__m-b-i-price">
                                <!-- Giá bán: -->
                                <span class="banner1__m-b-i-p-money" ng-bind="bottom_item.maxprice | priceFormat">3000</span> VND</div>
                            <div class="banner1__m-b-i-fenqi">
                                <span class="banner1__m-b-i-f-money" ng-bind="bottom_item.maxprice/12 | priceFormat">500</span>
                                <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
        </div>
        <div class="" ng-controller="gameProductCtrl">
            <section class="banner1" ng-if="AdGameComputer._sub_top">
                <div class="banner1__title">
                    <div class="banner1__title-left">Khu trò chơi</div>
                    <div class="banner1__title-right" ng-click="gotoMore2(AdGameComputer._sub_top[0].classfyId)">Xem nhiều hơn &gt; </div>
                </div>
                <div class="banner1__main">
                    <div class="banner1__main-top">
                        <div ng-repeat="top_item in AdGameComputer._sub_top" ng-class="{ 'banner1__main-top-3': top_item.position === 1, 'banner1__main-top-2': top_item.position === 2, }"
                            style="background-image: url({{top_item.imageUrl}});" ng-click="product(top_item.typeId,top_item.brandId)"></div>
                    </div>
                    <div class="banner1__main-bottom">
                        <li class="banner1__m-b-item" ng-repeat="bottom_item in AdGameComputer._sub_bottom" ng-click="product(bottom_item.typeId,bottom_item.brandId)">
                            <div class="banner1__m-b-i-img" style="background-image: url({{ bottom_item.imageUrl }});"></div>
                            <div class="banner1__m-b-i-title" ng-bind="bottom_item.name"></div>
                            <div class="banner1__m-b-i-price">
                                <!-- Giá bán: -->
                                <span class="banner1__m-b-i-p-money" ng-bind="bottom_item.maxprice | priceFormat">3000</span> VND</div>
                            <div class="banner1__m-b-i-fenqi">
                                <span class="banner1__m-b-i-f-money" ng-bind="bottom_item.maxprice/12 | priceFormat">500</span>
                                <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
        </div>
        <div class="" ng-controller="ipadProductCtrl">
            <section class="banner1" ng-if="adTabletComputer._sub_top">
                <div class="banner1__title">
                    <div class="banner1__title-left">Khu máy tính bảng, máy để bàn</div>
                    <div class="banner1__title-right" ng-click="gotoMore2(adTabletComputer._sub_top[0].classfyId)">Xem nhiều hơn &gt; </div>
                </div>
                <div class="banner1__main">
                    <div class="banner1__main-top">
                        <div ng-repeat="top_item in adTabletComputer._sub_top" ng-class="{ 'banner1__main-top-3': top_item.position === 1, 'banner1__main-top-2': top_item.position === 2, }"
                            style="background-image: url({{top_item.imageUrl}});" ng-click="product(top_item.typeId,top_item.brandId)"></div>
                    </div>
                    <div class="banner1__main-bottom">
                        <li class="banner1__m-b-item" ng-repeat="bottom_item in adTabletComputer._sub_bottom" ng-click="product(bottom_item.typeId,bottom_item.brandId)">
                            <div class="banner1__m-b-i-img" style="background-image: url({{ bottom_item.imageUrl }});"></div>
                            <div class="banner1__m-b-i-title" ng-bind="bottom_item.name"></div>
                            <div class="banner1__m-b-i-price">
                                <!-- Giá bán: -->
                                <span class="banner1__m-b-i-p-money" ng-bind="bottom_item.maxprice | priceFormat">3000</span> VND</div>
                            <div class="banner1__m-b-i-fenqi">
                                <span class="banner1__m-b-i-f-money" ng-bind="bottom_item.maxprice/12 | priceFormat">500</span>
                                <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
        </div>
        <article id="two">
            <div class="content">
                <h4>Khu hàng hiệu</h4>
                <div class="imgs" style="clear:both">
                    <a ng-repeat="item in nav">
                        <img src="{{item.imageUrl}}" alt="" ng-click="gotoMore2(item.id)" />
                    </a>
                </div>
            </div>
        </article>
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.0.6"></script>
    <script type="text/javascript" src="../js/swiper.min.js?version=2.0.6"></script>
    <script src="../js/yii.js?version=2.0.6"></script>
    <script src="../js/base.js?version=2.0.6"></script>
    <script src="../js/img_silder.js?version=2.0.6"></script>
    <script src="../js/xSlider.js?version=2.0.6"></script>
    <script src="../js/popup.js?version=2.0.6"></script>
    <script src="../js/md555.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md5.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/getMd5Code.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../js/common/common.js?version=2.0.6" type="text/javascript" charset="utf-8"></script> -->
    <script src="../js/common.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
    <script>
        // function gotoFind() {
        //     var findcontent = $("#findIpt").val();
        //     if (findcontent != "") {
        //         window.location.href = "search.html?findcontent=" + findcontent;
        //     }
        // }

        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }
    </script>
    <script src="../js/index_two.js?version=2.0.6" type="text/javascript" charset="utf-8"></script>
</body>

</html>