<!doctype html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Tình trạng sản phẩm</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306571-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112306571-1');
    </script>
    <link href="../css/bootstrap.css?version=2.5.0-beta" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.5.0-beta">
    <link href="../css/style.css?version=2.5.0-beta" rel="stylesheet">
    <link rel="stylesheet" href="../css/css.css?version=2.5.0-beta" />
    <link href="../css/details.css?version=2.5.0-beta" rel="stylesheet">
    <link href="../css/index_add_img.css?version=2.5.0-beta" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.5.0-beta">
    <link rel="stylesheet" href="../css/base.css?version=2.5.0-beta">
    <style>
        /* tcy -start-*/

        .swiper-slide-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 100%;
            width: 100%;
        }

        .vnd-unit {
            font-size: 14px;
            color: #666;
            line-height: 1;
            margin-top: 19px;
            font-weight: 500;
        }

        .oldprice {
            color: #666;
            padding-top: 3px;
            margin-left: 10px;
            line-height: 1;
            margin-bottom: 10px;
            display: none;
        }

        .oldprice__price {
            text-decoration: line-through;
        }

        .oldprice__price span {
            text-decoration: line-through;
        }

        .discount {
            color: #666;
            /*padding-top: 3px;*/
            margin-left: 10px;
            line-height: 1;
            display: none;
        }

        .money_active .oldprice {
            display: block;
        }

        .money_active .discount {
            display: block;
        }

        /* tcy -end-*/

        .body__m-t-i-n-wrap {
            float: left;
            height: 40px;
            width: 70px;
            margin-left: 15px;
        }

        .body__m-t-i-n-left {
            float: left;
            width: 50px;
            height: 40px;
        }

        .body__m-t-i-n-l-input:disabled {
            width: 50px;
            height: 40px;
            text-align: center;
            border: 1px solid #e8e8e8;
            background-color: #fff;
        }

        .body__m-t-i-n-right {
            float: left;
            width: 20px;
            height: 40px;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
        }

        .body__m-t-i-n-r-top {
            height: 19px;
            line-height: 19px;
            width: 19px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            background-color: #e8e8e8;
            text-align: center;
            cursor: pointer;
        }

        .body__m-t-i-n-r-top_disable {
            opacity: 0.6;
        }

        .body__m-t-i-n-r-t-arrow {
            padding-top: 1px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #9d9d9d transparent;
        }

        .body__m-t-i-n-r-bottom {
            height: 19px;
            line-height: 19px;
            width: 19px;
            border: 1px solid #fff;
            background-color: #e8e8e8;
            text-align: center;
            cursor: pointer;
        }

        .body__m-t-i-n-r-bottom_disable {
            opacity: 0.56
        }

        .body__m-t-i-n-r-b-arrow {
            vertical-align: middle;
            border-width: 5px;
            border-style: solid;
            border-color: #9d9d9d transparent transparent transparent;
        }

        .paymentnum-class {
            height: 27px;
            width: 100px !important;
        }

        /* .body__m-t-i-n-l-input:disabled {
            border-color: #0076f7;
        }

        .body__m-t-i-n-right {
            border-top-color: #0076f7;
            border-bottom-color: #0076f7;
            border-right-color: #0076f7;
        } */
    </style>
</head>

<body ng-app="detailsApp" ng-controller="detailsCtrl">
    <header class="header" id="header"></header>
    <div class="all tt">
        <div class="content navh">
            <div class="category left">
                <a href="#" class="category_a">Phân loại sản phẩm</a>
            </div>
            <div class="nav left">
                <a href="../index.html" class="">Trang chủ</a>
            </div>
            <div class="iwant right">
                <a href="bill.html" target="_self" class="">Tôi muốn thanh toán nợ > &gt;</a>
            </div>
        </div>
    </div>
    <nav>
        <div class="content">
            <div class="left">
            </div>
            <div class="right">
            </div>
        </div>
    </nav>
    <article id="img_text">
        <div class="content">
            <div class="left" style="overflow: hidden;">
                <div id="banner-img">
                    <div class="swiper-container" id="index_banner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="item in imgUrls">
                                <div class="swiper-slide-img" style="background-image: url({{item}});"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="dt-swiper-prev swiper-button-prev iconfont"></div>
                        <div class="dt-swiper-next swiper-button-next iconfont"></div>
                    </div>
                </div>
                <!--收藏-->
                <div class="sc" ng-controller="collcetionCtrl">
                    <span ng-click="shoucangClick()">
                        <img id="shoucangImg" style="padding-top: 2px;" src="../img/sc (1).jpg" alt="" />
                        <a>Chọn sản phẩm</a>
                    </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="right">
                <h2>
                    <span>Kinh doanh độc lập</span>&nbsp;&nbsp;
                    <i ng-bind="brandDetail.name" style="padding-top: 2px; font-weight: 700;"></i>
                </h2>
                <p class="p">
                    <span></span>
                    <a href=""></a>
                </p>
                <div class="money" id="tcy__money">
                    <p style="line-height: 45px;">
                        <!-- Giá &nbsp;&nbsp;&nbsp;hiện&nbsp;&nbsp;&nbsp;tại: -->
                        <span id="price" ng-init="price=0" ng-bind="price | priceFormat"></span>
                        <i class="vnd vnd-unit" ng-bind="'VND'"></i>
                        <span class="price_text" id="price_text"></span>
                    </p>
                    <div class="oldprice">
                        <span class="oldprice__text">Giá trước đây:</span>
                        <span class="oldprice__price">
                            <span id="oldprice__price-num"></span>&nbsp;VND</span>
                    </div>
                    <div class="discount">
                        <span class="discount__text">Tiết kiệm:</span>
                        <span class="discount__num">
                            <span id="discount__num-num"></span>%</span>
                    </div>
                    <div class="comments">
                        <a href="#comment">
                            <span ng-controller="commentCtrls" ng-bind="totalNumber"></span> &nbsp;bình luận</a>
                    </div>
                </div>
                <div class="center">
                    <!--三个属性-->
                    <!-- <div id="shouji" style="display: none;">
                        <div class="ys" style="line-height: 40px;">
                            <div class="left cen-left" style="padding-top: 9px;">
                                <span ng-bind="propertiesDetailName[0]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetails | filter : classifyColor" ng-click="colorChange(item, item.image)" ng-class="{act:item.id==f}">
                                    <img src="{{item.image}}" alt="" />
                                    <span ng-bind="item.value"></span>
                                </a>
                            </div>
                        </div>
                        <div class="nc">
                            <div class="left cen-left" style="padding-top: 2px;">
                                <span ng-bind="propertiesDetailName[1]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetailss | filter : classifySize" ng-click="sizeChange(item)">
                                    <button ng-bind="item.value" ng-class="{act:item.id==s}"></button>
                                </a>
                            </div>
                        </div>
                        <div class="yys">
                            <div class="left cen-left" style="padding-top: 2px;">
                                <span ng-bind="propertiesDetailName[2]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetailsss | filter : classifyTelco" ng-click="telcoChange(item)">
                                    <button ng-bind="item.value" ng-class="{act:item.id==t}"></button>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <!--两个属性-->
                    <div id="two" style="display: none;">
                        <div class="ys pob-in">
                            <div class="left cen-left" style="padding-top: 9px;">
                                <span ng-bind="propertiesDetailName[0]+' :'"></span>
                            </div>
                            <div class="left cen-right" style="width: 450px !important;">
                                <a ng-repeat="item in propertiesDetails | filter : classifyColor" ng-click="colorChange(item, item.image)" ng-class="{act:item.id==f}">
                                    <img src="{{item.image}}" alt="img" />
                                    <span ng-bind="item.value"></span>
                                </a>
                            </div>
                        </div>
                        <div class="nc pobb-in" style="margin-bottom: 10px;">
                            <div class="left cen-left" style="padding-top: 2px;">
                                <span ng-bind="propertiesDetailName[1]+' :'"></span>
                            </div>
                            <div class="left cen-right" style="width: 450px !important;">
                                <a ng-repeat="item in propertiesDetailss | filter : classifySize" ng-click="sizeChange(item)">
                                    <button ng-bind="item.value" ng-class="{act:item.id==s}"></button>
                                </a>
                            </div>
                        </div>
                        <div class="ys pob" style="display: none;">
                            <div class="left cen-left" style="padding-top: 9px;">
                                <span ng-bind="propertiesDetailName[1]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetailss | filter : classifyColor" ng-click="colorChange(item, item.image)" ng-class="{act:item.id==f}">
                                    <img src="{{item.image}}" alt="" />
                                    <span ng-bind="item.value"></span>
                                </a>
                            </div>
                        </div>
                        <div class="nc pobb" style="display: none;">
                            <div class="left cen-left" style="padding-top: 2px;">
                                <span ng-bind="propertiesDetailName[0]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetails | filter : classifySize" ng-click="sizeChange(item)">
                                    <button ng-bind="item.value" ng-class="{act:item.id==s}"></button>
                                </a>
                            </div>
                        </div>
                        <div class="ys ppob" style="display: none;">
                            <div class="left cen-left" style="padding-top: 9px;">
                                <span ng-bind="propertiesDetailName[0]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetails | filter : classifyColor" ng-click="colorChanges(item, item.image)" ng-class="{act:item.id==f}">
                                    <img src="{{item.image}}" alt="" />
                                    <span ng-bind="item.value"></span>
                                </a>
                            </div>
                        </div>
                        <div class="nc ppobb" style="display: none;">
                            <div class="left cen-left" style="padding-top: 2px;">
                                <!--内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存: -->
                                <span ng-bind="propertiesDetailName[1]+' :'"></span>
                            </div>
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetailss | filter : classifySize" ng-click="sizeChanges(item)">
                                    <button ng-bind="item.value" ng-class="{act:item.id==s}"></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--一个属性-->
                    <div class="bb" id="diannao" style="display: none;">
                        <div class="ys" style="margin-bottom:10px;">
                            <div class="left cen-left">
                                <span ng-bind="propertiesDetail[0].name+' :'" style="padding-top: 5px;"></span>
                            </div>
                            <!-- <div class="left cen-right">
                                <span ng-repeat="item in propertiesDetail | filter : classify" ng-click="change(item)">
                                    <img src="{{item.image}}" alt="" />
                                    <button class="btn" ng-bind="item.value" ng-class="{act:item.id==f}"></button>
                                </span>
                            </div> -->
                            <div class="left cen-right">
                                <a ng-repeat="item in propertiesDetail | filter : classify" ng-click="colorChange(item, item.image)" ng-class="{act:item.id==f}">
                                    <img ng-if="item.image" src="{{item.image}}" alt="" />
                                    <span ng-bind="item.value"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bl2" style="margin-bottom: 10px;">
                        <div class="left cen-left" style="padding-top:8px; margin-bottom: 10px;">
                            Số lượng:
                        </div>
                        <input type="hidden" name="" id="fenqiNumIpt" value="1" />
                        <div class="left cen-right fenqiNumBtn">
                            <div class="body__m-t-i-n-wrap" id="body__m-t-i-n-wrap">
                                <div class="body__m-t-i-n-left">
                                    <input type="text" class="body__m-t-i-n-l-input" value="1" v-model="buyNum" disabled>
                                </div>
                                <div class="body__m-t-i-n-right">
                                    <div class="body__m-t-i-n-r-top" :class="{'body__m-t-i-n-r-top_disable': buyNum >= F._cardMaxNumber}" @click="plus()">
                                        <span class="body__m-t-i-n-r-t-arrow"></span>
                                    </div>
                                    <div class="body__m-t-i-n-r-bottom" :class="{'body__m-t-i-n-r-bottom_disable': buyNum <= 1}" @click="minus()">
                                        <span class="body__m-t-i-n-r-b-arrow"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="kc" style="line-height: 30px; margin-bottom: 10px;">
                        <div class="left cen-left">
                            Hiện còn:
                        </div>
                        <div class="left cen-right" style="width:250px;">
                            <!-- <p style="">Chỉ còn<span ng-bind="numbers"></span> </p> -->
                            <p>
                                <span id="tcy-numbers" ng-bind="numbers > 0 ? 'Còn hàng' : 'Hết hàng'"></span>
                            </p>
                        </div>
                    </div>
                    <div ng-controller="instalmentCtrl">
                        <div class="bl" style="display: none1; clear: both; margin-bottom: 20px; ">
                            <div class="left cen-left" style="padding-top:2px;">
                                Tỉ lệ thanh toán lần đầu:
                            </div>
                            <div class="left cen-right" style="width:250px;">
                                <select class="paymentnum-class" ng-model="paymentNum" ng-init="paymentNum='0.5'">
                                    <option value="1.0">Trả toàn bộ</option>
                                    <option value="0.2">20%</option>
                                    <option value="0.3">30%</option>
                                    <option value="0.4">40%</option>
                                    <option value="0.5">50%</option>
                                </select>
                            </div>
                        </div>
                        <div class="bl2" style="display: none1;">
                            <div class="left cen-left" style="padding-top:5px; margin-bottom: 10px;">
                                Chọn số kỳ thanh toán:
                            </div>
                            <input type="hidden" name="" id="fenqiNumIpt" value="1" />
                            <div class="left cen-right fenqiNumBtn">
                                <button ng-click="fenqi(3)" style="margin-right: 5px;">3 tháng</button>
                                <button ng-click="fenqi(6)" style="margin-right: 5px;">6 tháng</button>
                                <button ng-click="fenqi(9)" style="margin-right: 5px;">9 tháng</button>
                                <button class="b_active" ng-click="fenqi(12)" style="margin-right: 5px;">12 tháng</button>
                            </div>
                        </div>
                        <div class="yg" style="display: none1;">
                            <div class="left cen-left">
                                Trả góp hàng tháng:
                            </div>
                            <div class="left cen-right" style="width:350px">
                                <p>
                                    <b ng-bind="resPrice | priceFormat"></b> VND
                                    <img src="../img/14.jpg" alt="" style="width:15px;height:15px;cursor: pointer; margin-top: 17px;" ng-click="information()" data-toggle="modal" data-target="#myhead" class="moneryIcon" />
                                </p>
                            </div>
                        </div>
                        <div class="gm">
                            <div class="left cen-left">
                                <button ng-click="addCart()">
                                    <a>Thêm vào giỏ hàng</a>
                                </button>
                            </div>
                            <div class="left cen-right">
                                <button ng-click="gotoPay()">
                                    <a>Mua ngay</a>
                                </button>
                            </div>
                            <a href="./paystep.html" target="_blank" style="display: inline-block; margin-left: 5px;" title="Không biết thanh toán và trả góp thế nào? Hãy ấn vào đây!">
                                <img src="../img/14.jpg" alt="" style="width:15px;height:15px; margin-top: 16px; margin-bottom: 15px; margin-left: 5px; margin-right: 15px;" class="moneryIcon" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear details">
                <div class="left">
                    <div class="top">
                        <ul>
                            <li class="act">Thông tin sản phẩm </li>
                            <li>Tham số sản phẩm </li>
                            <li>Danh sách đóng gói </li>
                            <li>Bảo hiểm sau khi mua </li>
                            <a href="#comment" style="color:#888;margin-left:10px">Bình luận về sản phẩm(
                                <span ng-controller="commentCtrls" ng-bind="totalNumber"></span>)</a>
                        </ul>
                    </div>
                    <div class="details_center">
                        <div class="details_centerlist">
                            <br />
                            <br />
                            <img src="{{brandDetail.desc}}" alt="" />
                        </div>
                        <div class="details_centerlist" style="display:none">
                            <img src="{{productDetail[0].goodsProperties}}" alt="" />
                        </div>
                        <div class="details_centerlist" style="display:none">
                            <span ng-bind="productDetail[0].packageList"></span>
                        </div>
                        <div class="details_centerlist" style="display:none">
                            Bảo hiểm sau khi mua Tạm thời không có dữ liệu
                        </div>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
            <!--商品评论-->
            <div class="comment" id="comment">
                <div ng-controller="commentCtrl">
                    <div class="top">Bình luận về sản phẩm</div>
                    <div class="top-fen" style="display: none;">
                        <div class="left">
                            <b>
                                <i ng-bind="average"></i>
                            </b>
                        </div>
                        <div class="left img" id="xinxin">
                        </div>
                        <div class="left text">
                            <span>Có tất cả
                                <span ng-controller="commentCtrls" ng-bind="totalNumber"></span> dữ liệu</span>
                        </div>
                    </div>
                </div>
                <div class="top_comm" ng-controller="commentCtrlcomm">
                    <div class="top-nolist" style="display: none;margin-top:17px">
                        Chưa có bình luận, bình luận ngay！
                    </div>
                    <div id="people">
                        <div ng-repeat="item in userComment" class="li">
                            <div class="left name">
                                <span ng-bind="item.username | reverse"></span>
                            </div>
                            <div class="right text">
                                <div class="people_top">
                                    <div class="left">
                                        <p style="float: left;">Đánh giá:
                                            <span ng-bind="item.score"></span>
                                        </p>
                                        <div id="ttt" ng-class="{tt0:item.score==0.5,tt1:item.score==1,tt2:item.score==1.5,tt3:item.score==2,tt4:item.score==2.5,tt5:item.score==3,tt6:item.score==3.5,tt7:item.score==4,tt8:item.score==4.5,tt9:item.score==5}"></div>
                                    </div>
                                    <div class="right" ng-bind="item.updateTime"></div>
                                </div>
                                <p ng-bind="item.content"></p>
                                <span class="img" ng-repeat="item1 in item.userImg">
                                    <img src="{{item1.url}}" ng-click="changePic($event)" />
                                </span>
                            </div>
                            <!--放大图片-->
                            <div id="js-imgview-mask" class="imgview-mask" style="display: none;" ng-click="closePic()">
                            </div>
                            <div id="js-imgview" class="show-img">
                                <img id="bigimage" style="width: 100%;height: 100%;display: block; margin: 0 auto;zoom: 0.6;" class="img-responsive">
                                <a ng-click="closePic()"></a>
                            </div>
                        </div>
                    </div>
                    <!--page-->
                    <div id="page" class="right">
                        <div>
                            <button id="lastPagebtn" ng-click="lastPage()">&lt;</button>
                            <span style="padding-top: 3px;">Trang hiện tại:
                                <span ng-init="nowPage=1" ng-bind="nowPage"></span>&nbsp;&nbsp;</span>
                            <span style="padding-top: 3px;">Trang:
                                <span ng-bind="totalPage"></span> tiên</span>
                            <button id="nextPagebtn" ng-click="nextPage()">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--商品咨询-->
            <!-- <div class="consulting">
                <div class="top">Tư vấn về sản phẩm</div>
            </div> -->
            <!--底部文本-->
            <div class="foot">
            </div>
        </div>
    </article>
    <div class="login-box">
    </div>
    <footer class="footer" id="footer"></footer>
    <!-- 弹出模态框 -->
    <div class="modal fade" id="myhead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div style="display: table;width:690px;height:100%;margin:0 auto;">
            <div class="modal-dialog" style="display: table-cell;text-align: center;vertical-align: middle;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="left">Thông tin về số tiền trả góp</div>
                        <div class="right" data-dismiss="modal">
                            <span class="alert__b-m-t-close"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Hóa đơn</th>
                                    <th>Số tiền phải trả hàng tháng</th>
                                    <th>Phí dịch vụ hàng tháng</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!--等待收藏-->
    <div id="shoucang">
        <div>
            <img src="../img/dd.gif" alt="" />
        </div>
    </div>
    <script src="../js/jquery.js?version=2.5.0-beta"></script>
    <script src="../js/bootstrap.js?version=2.5.0-beta"></script>
    <script src="../js/location.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../js/swiper.min.js?version=2.5.0-beta"></script>
    <script src="../js/md555.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script src="../js/vue.min.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script src="../js/getMd5Code.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script src="../js/localStorage.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <!-- tcy -start- -->
    <script src="../js/md5.js?version=2.5.0-beta"></script>
    <script src="../js/common.js?version=2.5.0-beta"></script>
    <!-- tcy -end- -->
    <!-- <script src="../js/sys/config.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script> -->
    <script>
        window.setTimeout(function () {
            if (localStorage.getItem("funId")) {
                F._userViewDetailInfo({}, function (ret) {
                    if (ret.data.headimage) {
                        $('.userLogin-info__top-face').eq(0).css('background-image', 'url(' + ret.data.headimage + ')');
                    }
                });
            }
        }, 700);

        function plus() {
            if (F.vue.buyNum >= F.vue.store) return false;
            if (F.vue.buyNum >= F._cardMaxNumber) return false;
            F.vue.buyNum += 1;
        }

        function minus() {
            if (F.vue.buyNum <= 1) return false;
            F.vue.buyNum -= 1;
        }


        F.vue = {
            buyNum: 1,
        }

        function new_vue() {
            F.vue.store = +$('#tcy-numbers').html();
            F.vue = new Vue({
                el: $('#body__m-t-i-n-wrap')[0],
                data: F.vue,
                methods: {
                    plus: plus,
                    minus: minus,
                },
                computed: {

                },
                watch: {
                    // LS__data: function (val, oldVal) {
                    //     var data = this.LS__data;
                    //     localStorage.setItem("cart", JSON.stringify(data));
                    //     calc(data);
                    // },
                },
            });
        }

        setTimeout(function () {
            new_vue();
        }, 700);

        F.query = F._hrefUtils.parse().query || {};

        F.id = F.query.id || '';

        var swiper = new Swiper('#index_banner', {
            paginationClickable: true,
            longSwipesRatio: 0.3,
            touchRatio: 1,
            autoplay: 6000,
            effect: 'fade',
            pagination: '.swiper-pagination',
            observer: true, //修改swiper自己或子元素时, 自动初始化swiper
            observeParents: true, //修改swiper的父元素时, 自动初始化swiper
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
        });
        $('.bb button').click(function () {
            $('.bb button').removeClass('b_active');
            $(this).addClass('b_active');
        })
        $('.bl2 button').click(function () {
            $('.bl2 button').removeClass('b_active');
            $(this).addClass('b_active');
        })
        $('.btn').click(function () {
            $('.btn').removeClass('b_active');
            $(this).addClass('b_active');
        })
        $('body').delegate('.ys a', 'click', function () {
            $('.ys a').removeClass('act');
            $(this).addClass('act');
        });

        $('body').delegate('.nc button', 'click', function () {
            $('.nc button').removeClass('act');
            $(this).addClass('act');
        })
        $('body').delegate('.yys button', 'click', function () {
            $('.yys button').removeClass('act');
            $(this).addClass('act');
        })
        $('body').delegate('.btn', 'click', function () {
            $('.btn').removeClass('act');
            $(this).addClass('act');
        })
        $('.details .left .top').find('li').each(function (index) {
            $(this).click(function () {
                if ($(this).is('.act') == false) {
                    $('.details .left .top').find('li').removeClass('act').eq(index).addClass('act');
                    $('.details_center').find('.details_centerlist').stop().hide().eq(index).stop().show();
                }
            })
        })

        $(".bdsharebuttonbox").hide();
        $("#share").hover(function () {
            $(".bdsharebuttonbox").show();
        }, function () {
            $(".bdsharebuttonbox").hide();
        })
        $(".bdsharebuttonbox").hover(function () {
            $(".bdsharebuttonbox").show();
        }, function () {
            $(".bdsharebuttonbox").hide();
        })

        // function gotoFind() {
        //     var findcontent = $("#findIpt").val();
        //     if (findcontent != "") {
        //         window.location.href = "search.html?findcontent=" + findcontent;
        //     }
        // }

        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }
        var bodyh = $('body').height();
        $('#shoucang').height(bodyh);
    </script>
    <script src="../js/details_copy.js?version=2.5.0-beta" type="text/javascript" charset="utf-8"></script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>