<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Xem nhiều hơn</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306571-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112306571-1');
    </script>
    <link href="../css/bootstrap.css?version=2.9.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.9.1">
    <link href="../css/style.css?version=2.9.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/more.css?version=2.9.1" />
    <link href="../css/index_add_img.css?version=2.9.1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.9.1">
    <link rel="stylesheet" href="../css/base.css?version=2.9.1">
    <script src="../js/jquery2.2.4.min.js?version=2.9.1"></script>
    <script src="../js/md555.js?version=2.9.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md5.js?version=2.9.1"></script>
    <style>
        .dropup {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -moz-transform: rotate(180deg);
            /* Firefox */
            -webkit-transform: rotate(180deg);
            /* Safari 和 Chrome */
            -o-transform: rotate(180deg);
        }

        article .changePage button {
            width: inherit;
            height: inherit;
            padding: 3px 8px;
        }

        article .changePage input {
            width: 50px
        }

        .one .right .right-top input[type=submit] {
            border: 1px solid #aaa;
            cursor: pointer;
            background: #fff;
            width: 55px;
            height: 25px;
        }

        .one .right .right-top input[type=submit]:hover {
            background-color: #0075f6;
            color: #fff
        }

        .one .right .ul a h5 {
            font-size: 14px;
            line-height: 19px;
        }

        /*tcy -start-*/

        .category1-row1-item_active {
            background-color: #0076F7;
            color: #fff !important;
        }

        .category1-row2-item_active {
            background-color: #0076F7;
            color: #fff !important;
        }

        .category2-row1-item_active {
            background-color: #0076F7;
            color: #fff !important;
        }

        .category2-row2-item_active {
            background-color: #0076F7;
            color: #fff !important;
        }

        .category3-row1-item_active {
            background-color: #0076F7;
            color: #fff !important;
        }

        .category3-row2-item_active {
            background-color: #0076F7;
            color: #fff !important;
        }

        .ul:after {
            display: block;
            content: "";
            clear: both;
            height: 0;
        }

        .one .left li .left .img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 100%;
            width: 100%;
        }

        /*tcy -end-*/
    </style>
</head>

<body id="app" ng-app='moreApp' ng-controller="moreCtrl">
    <header class="header" id="header"></header>
    <div class="all">
        <div class="content navh">
            <div class="category left">
                <a href="#" class="category_a">Phân loại sản phẩm</a>
            </div>
            <div class="nav left">
                <a href="./couponcenter.html" class="">Mã Giảm Giá</a>
                <!-- <a href="./prepaid.html" class="">Dịch Vụ</a> -->
            </div>
            <div class="iwant right">
                <a href="bill.html" target="_self" class="">Tôi muốn thanh toán nợ &gt;</a>
            </div>
        </div>
    </div>
    <div class="all banner_c">
        <div class="content">
            <div class="category_1 left">
                <div class="hot_brand" ng-class="{act:brandAct==1}">
                    <p style="padding-right: 16px;" ng-click="changeProductType(1)">
                        <i></i> Điện thoại di động</p>
                    <div class="category_act">
                        <div class="category_open">
                            <div class="cateory-top">
                                <a href="../index.html">Trang chủ</a> &nbsp;&nbsp;>&nbsp;&nbsp;
                                <a href="cellphoneBanner.html">Điện thoại di động </a>&nbsp;&nbsp; &nbsp;&nbsp;
                            </div>
                            <div class="cateory-center">
                                <div class="list">
                                    <div class="left list-le">Điện thoại di động: </div>
                                    <div class="left list-ri listover">
                                        <a ng-click="getAllProductInfo({ sub_classfy_id: 0, classfy_id: 0, parent_id: item.parentId })" class="category1-row1-item category1-row1-item_active">Tất cả</a>
                                        <a ng-repeat="item in ppq" class="category1-row1-item">
                                            <span ng-bind="item.name" ng-click="getAllProductInfo({ sub_classfy_id: item.id, parent_id: item.parentId })"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="left list-le">Nhãn hiệu : </div>
                                    <div class="left list-ri listin" style="vertical-align: middle;">
                                        <a ng-click="getAllProductInfo({ classfy_id: 0, classfy_id: 0, parent_id: item.parentId })" class="category1-row2-item category1-row2-item_active">Tất cả</a>
                                        <a ng-repeat="item in shoujimore" ng-class="{act1:item.id==navId}" class="category1-row2-item">
                                            <span ng-bind="item.name" ng-click="getAllProductInfo({ classfy_id: item.id, parent_id: item.parentId })"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hot_brand" ng-class="{act:brandAct==2}">
                    <p style="padding-right:24px;" ng-click="changeProductType(2)">
                        <i></i> Laptop</p>
                    <div class="category_act">
                        <div class="category_open">
                            <div class="cateory-top">
                                <a href="../index.html">Trang chủ</a> &nbsp;&nbsp;>&nbsp;&nbsp;
                                <a href="computerPage.html">Laptop </a>&nbsp;&nbsp; &nbsp;&nbsp;
                            </div>
                            <div class="cateory-center">
                                <div class="list">
                                    <div class="left list-le">Laptop: </div>
                                    <div class="left list-ri listover">
                                        <a ng-click="getAllProductInfo({ sub_classfy_id: 0, classfy_id: 0, parent_id: item.parentId })" class="category2-row1-item category2-row1-item_active">Tất cả</a>
                                        <a ng-repeat="item in nav" class="category2-row1-item">
                                            <span ng-bind="item.name" ng-click="getAllProductInfo({ sub_classfy_id: item.id, parent_id: item.parentId })"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="left list-le">Nhãn hiệu : </div>
                                    <div class="left list-ri listin">
                                        <a ng-click="getAllProductInfo({ classfy_id: 0, classfy_id: 0, parent_id: item.parentId })" class="category2-row2-item category2-row2-item_active">Tất cả</a>
                                        <a ng-repeat="item in diannaomore" ng-class="{act1:item.id==navId}" ng-click="getAllProductInfo({ classfy_id: item.id, parent_id: item.parentId })"
                                            class="category2-row2-item">
                                            <span ng-bind="item.name"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hot_brand" ng-class="{act:brandAct==3}">
                    <p ng-click="changeProductType(5)">
                        <i></i> Linh kiện & phụ kiện</p>
                    <div class="category_act">
                        <div class="category_open">
                            <div class="cateory-top">
                                <a href="../index.html">Trang chủ</a> &nbsp;&nbsp;>&nbsp;&nbsp;
                                <a href="shumapeijian.html">Linh kiện & phụ kiện </a>&nbsp;&nbsp; &nbsp;&nbsp;
                            </div>
                            <div class="cateory-center">
                                <div class="list">
                                    <div class="left list-le">Linh kiện & phụ kiện: </div>
                                    <div class="left list-ri listover">
                                        <a ng-click="getAllProductInfo({ sub_classfy_id: 0, classfy_id: 0, parent_id: item.parentId })" class="category3-row1-item category3-row1-item_active">Tất cả</a>
                                        <a ng-repeat="item in choose" ng-class="{act1:item.id==navId}" ng-click="getAllProductInfo({ sub_classfy_id: item.id, parent_id: item.parentId })"
                                            class="category3-row1-item">
                                            <span ng-bind="item.name"></span>
                                        </a>
                                        <!--<a href="#" >精品推荐</a>-->
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="left list-le">Nhãn hiệu : </div>
                                    <div class="left list-ri listin">
                                        <a ng-click="getAllProductInfo({ sub_classfy_id: 0, classfy_id: 0, parent_id: item.parentId })" class="category3-row2-item category3-row2-item_active">Tất cả</a>
                                        <a ng-repeat="item in shumamore" ng-class="{act1:item.id==navId}" ng-click="getAllProductInfo({ classfy_id: item.id, parent_id: item.parentId })"
                                            class="category3-row2-item">
                                            <span ng-bind="item.name"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--版本-->
    <article>
        <div class="content">
            <div class="one" style="overflow: visible;">
                <div class="left">
                    <p>Xem gần đây</p>
                    <ul id="lastScan">
                        <li ng-repeat="item in showuserScanObj">
                            <a ng-click="product(item.typeId, item.brandId, item.id, item.discount, item.orgPrice)" target="_self">
                                <div class="left">
                                    <div class="img" style="background-image: url({{item.imgUrl}});"></div>
                                    <!-- <img src="{{item.imgUrl}}" alt="" /> -->
                                </div>
                                <div class="right" ng-bind="item.name">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="right-top">
                        <span class="left" ng-click="changeOrder('default')">
                            <!-- Xác nhận thứ tự -->
                        </span>
                        <!-- <span class="right">Có một <b ng-bind="rows"></b> phẩm   &nbsp;&nbsp;&nbsp; </span> -->
                        <span class="right" style="cursor: default;">
                            <b ng-bind="rows"></b> Sản Phẩm Được Tìm Thấy</span>
                    </div>
                    <div class="ul">
                        <!--<h1 ng-bind="noProductTip" style="font-size: 25px;"></h1>-->
                        <a ng-repeat="item in nowProduct |filter | orderBy :Porder + Norder +orderType" ng-click="product(item.typeId, item.brandId, item.id, item.discount, item.orgPrice)"
                            target="_self">
                            <img src="{{item.iconUrl}}" alt="" />
                            <!-- <img src="{{item.image}}" alt="" /> -->
                            <h4 ng-bind="item.name"></h4>
                            <!--    <div>{{item.id}}</div>-->
                            <p>Giá bán:
                                <span ng-bind="item.price | priceFormat"></span> VND
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lượng hàng: <span ng-bind="item.numbers"></span> VND-->
                            </p>
                            <!--<h5>Thanh toán lần đầu:<span ng-bind="item.price*0.2"></span> VND &nbsp;&nbsp;</h5> -->
                            <!-- <h5>Trả góp hàng tháng: <br /><span ng-bind="item.fenqiPrice | priceFormat"></span> VND x12</h5> -->
                            <h5>
                                <span ng-bind="item.fenqiPrice | priceFormat"></span> VND x 12 Tháng</h5>
                            <span ng-show="item.promotion" class="item-badge" style="background-image: url(../img/badge1.png);">
                                <span class="item-badge__reduce">GIẢM</span>
                                <span class="item-badge__mian" ng-bind="100 - item.discount"></span>
                                <span class="item-badge__percent">%</span>
                            </span>
                        </a>
                    </div>
                    <h1 ng-bind="noProductTip" style="font-size: 25px;"></h1>
                </div>
            </div>
            <div class="changePage">
                <div style="margin-bottom: 30px;">
                    <button id="lastPagebtn" ng-click="lastPage()">&lt;</button>
                    <span style="padding-top: 3px;">Trang hiện tại:
                        <span ng-init="nowPage=1" ng-bind="nowPage"></span>&nbsp;&nbsp;</span>
                    <span style="padding-top: 3px;">Trang :
                        <span ng-bind="totalPage"></span> tiên</span>
                    <button id="nextPagebtn" ng-click="nextPage()">&gt;</button>
                </div>
            </div>
        </div>
    </article>
    <footer class="footer" id="footer"></footer>
    <script src="../js/common.js?version=2.9.1"></script>
    <script src="../js/swiper.min.js?version=2.9.1"></script>
    <!-- <script src="../js/yii.js?version=2.9.1"></script> -->
    <script src="../js/base.js?version=2.9.1"></script>
    <script src="../js/img_silder.js?version=2.9.1"></script>
    <script src="../js/xSlider.js?version=2.9.1"></script>
    <script src="../js/popup.js?version=2.9.1"></script>
    <script src="../js/ajax.js?version=2.9.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.9.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/getMd5Code.js?version=2.9.1" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../js/sys/config.js?version=2.9.1" type="text/javascript" charset="utf-8"></script> -->
    <script src="../js/localStorage.js?version=2.9.1" type="text/javascript" charset="utf-8"></script>
    <script>

        $(".hot_brand").click(function () {
            $('.hot_brand').removeClass('act');
            $(this).addClass('act')
        })

        // function gotoFind() {
        //     var findcontent = $("#findIpt").val();
        //     if (findcontent != "") {
        //         window.location.href = "search.html?findcontent=" + findcontent;
        //     }
        // }

        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }

        function keysearch() {
            var event = window.event || arguments.callee.caller.arguments[0];
            if (event.keyCode == 13) {
                angular.element(document.getElementById('app')).scope().confirm()
            }
        }
    </script>
    <script src="../js/more.js?version=2.9.1" type="text/javascript" charset="utf-8"></script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>