<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Trung tâm thanh toán</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306571-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112306571-1');
    </script>
    <link href="../css/jquery-accordion-menu.css?version=2.4.1" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css?version=2.4.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.4.1">
    <link href="../css/style.css?version=2.4.1" rel="stylesheet">
    <link href="../css/index_add_img.css?version=2.4.1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.4.1">
    <link href="../css/pay.css?version=2.4.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/base.css?version=2.4.1">
    <style>
        .body {
            border-top: 1px solid #72aef0;
        }

        #three {
            margin-bottom: 50px;
        }

        /*tcy -start-*/

        .modal-body th {
            line-height: 2;
        }

        .modal-body td {
            line-height: 1.8;
        }

        img,
        span,
        i,
        s {
            display: inline-block;
            /*vertical-align: middle;*/
        }

        .modal-body {
            position: relative;
        }

        .phone-flag {
            position: absolute;
            top: 90px;
            right: 100px;
            line-height: 45px;
        }

        .phone-flag-img {
            width: 30px !important;
            height: 20px !important;
            vertical-align: middle !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
            background-image: url(../img/VN.png) !important;
        }

        .phone-flag-code {
            color: #333 !important;
            width: auto !important;
        }

        .fenqiNumBtn button.actives {
            background: #eee !important;
            border: 1px solid #eee !important;
            color: #333 !important;
        }

        /*tcy -end-*/

        .body__main {
            padding-top: 30px;
        }

        .body__main-login {
            text-align: center;
            padding-top: 50px;
            background-color: #dfeffc;
        }

        .body__m-l-row1 {
            color: #FF3B57;
            margin-bottom: 45px;
        }

        .body__m-l-r2-button {
            height: 50px;
            line-height: 50px;
            width: 340px;
            text-align: center;
            color: #fff;
            background-color: #207def;
            margin-bottom: 50px;
            cursor: pointer;
            border-radius: 3px;
        }

        .body__m-l-r2-button:hover {
            background-color: #105dcf;
        }

        #myModal123 .modal-body select {
            font-size: 14px;
            width: 270px;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            outline: none;
            color: #333;
            margin-right: 1px;
            height: 33px;
            border: 1px solid #ddd;
            margin-left: 10px;
            border-radius: 3px;
            margin-bottom: 24px;
            background-color: #fff;
        }
    </style>
</head>

<body ng-app="payApp" ng-controller="payCtrl">
    <div id="myModal123-label" data-toggle="modal" data-target="#myModal123" style="opacity: 0;"></div>

    <div ng-controller="addressCtrl">
        <header class="header" id="header"></header>
        <div class="body" style="height: 30px; width: 100%;"></div>
        <section class="site" id="one" ng-controller="addCtrl">
            <div class="site__title col-xs-24">Xác nhận địa chỉ nhận hàng</div>
            <div class="site__main col-xs-24">
                <li class="site__main-item" ng-class="{ 'site__main-item_def': item.isdefault === 'Y', 'site__main-item_active': addrlistData_index === index }"
                    ng-click="set_active(index, item.msisdn, item, item.username, item,id)" ng-repeat="(index, item) in addrlistData">
                    <div class="site__m-i-row1 col-xs-24">
                        <div class="site__m-i-r1-name js_username col-xs-24" ng-bind="item.username"></div>
                        <div class="site__m-i-r1-tel js_msisdn col-xs-24" ng-bind="item.msisdn"></div>
                    </div>
                    <div class="site__m-i-row2 col-xs-24" ng-bind="item.address + (item.division4thName ? ', ' : '') + item.division4thName + (item.division3rdName ? ', ' : '') + item.division3rdName + (item.division2ndName ? ', ' : '') + item.division2ndName"></div>
                    <div class="site__m-i-row3 col-xs-24">
                        <div class="site__m-i-r3-def">
                            <span class="site__m-i-r3-f-set moren" ng-click="moren(index,item.id,item.isdefault,item.msisdn,item.address,item.username,item.division4th,item.division3rd,item.division2nd)">Đặt làm mặc định</span>
                            <span class="site__m-i-r3-f-status">mặc định</span>
                        </div>
                        <div class="site__m-i-r3-edit" ng-click="xiugai({id:item.id,isdefault:item.isdefault,msisdn:item.msisdn,address:item.address,username:item.username,division3rd:item.division3rd,division2nd:item.division2nd,division4th:item.division4th,model:'modify'})">
                            <span class="site__m-i-r3-e-text">Sửa</span>
                        </div>
                        <div class="site__m-i-r3-del">
                            <span class="site__m-i-r3-d-text" ng-click="remove(item.id)">Xoá</span>
                        </div>
                    </div>
                    <div class="site__m-i-row4">√</div>
                </li>
                <div class="site__main-add" ng-click="addppp()">
                    <div class="site__m-a-row1"></div>
                    <div class="site__m-a-row2">Thêm địa chỉ nhận hàng</div>
                </div>
            </div>
        </section>
        <article id="two">
            <div class="content">
                <div class="two">
                    <div class="top_title">
                        <i></i>
                        <span>Xác nhận thông tin đặt hàng</span>
                    </div>
                    <div class="information">
                        <table>
                            <thead>
                                <tr>
                                    <th>Thông tin về sản phẩm
                                        <div class="bg"></div>
                                    </th>
                                    <th>Số lượng
                                        <div class="bg"></div>
                                    </th>
                                    <th>Giá sản phẩm
                                        <div class="bg"></div>
                                    </th>
                                    <th>Tổng số phụ
                                        <div class="bg"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index, item) in LS__data" class="ls-data-css">
                                    <td>
                                        <img src="{{item.iconUrl}}" alt="" style="width: 85px; cursor: pointer;" ng-click="gotoDetails(item._detail.typeId, item._detail.brandId, item._detail.id)">
                                        <span ng-bind="item.subject" style="margin-top: 30px; width: 590px;"></span>
                                        <!-- <span ng-bind="'【Hàng】'+item.subject" style="margin-top: 30px; width: 590px;"></span> -->
                                    </td>
                                    <td id="buyNum" ng-bind="item.quantity"></td>
                                    <td id="price" ng-bind="item.totalAmount | priceFormat"></td>
                                    <td ng-bind="item.totalAmount*item.quantity | priceFormat"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="list">
                            <div class="left li-left">Chọn tỉ lệ thanh toán lần đầu : </div>
                            <div class="left li-right">
                                <select ng-model="paymentNum" ng-change="paymentNumChange(paymentNum)">
                                    <option value="1.0">Trả toàn bộ</option>
                                    <option value="0.2">20%</option>
                                    <option value="0.3">30%</option>
                                    <option value="0.4">40%</option>
                                    <option value="0.5">50%</option>
                                </select>
                                <span style="line-height: 25px;">Thanh toán lần đầu
                                    <i ng-bind="totalamount*paymentNum | priceFormat"></i> VND</span>
                            </div>
                        </div>
                        <div class="list">
                            <div class="left li-left">Chọn số kỳ thanh toán : </div>
                            <div class="left li-right fenqiNumBtn">
                                <button id="fenqiNum3" ng-class="{ 'b_active': fenqiNum === 3 }" ng-click="fenqi(3)">3 tháng</button>
                                <button id="fenqiNum6" ng-class="{ 'b_active': fenqiNum === 6 }" ng-click="fenqi(6)">6 tháng</button>
                                <button id="fenqiNum9" ng-class="{ 'b_active': fenqiNum === 9 }" ng-click="fenqi(9)">9 tháng</button>
                                <button id="fenqiNum12" ng-class="{ 'b_active': fenqiNum === 12 }" ng-click="fenqi(12)">12 tháng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article id="three">
            <div class="content">
                <div class="three fullpay_mark" style="display: none;">
                    <div class="top_title">
                        <i></i>
                        <span>Phương thức thanh toán</span>
                    </div>
                </div>
                <div class="way">
                    <div class="payway__main-bottom" id="payway__main-bottom" style="display: none;" v-show="paymentNum === 1">
                        <!-- <div class="payway__m-b-item" @click="payway = '3'" :class="{ 'payway__m-b-item_acitve': payway === '3' }">
                            <div class="payway__m-b-i-text">napas</div>
                            <div class="payway__m-b-i-icon">
                                <span class="payway__m-b-i-icon-img" style="background-image: url(../img/pay_napas.png);"></span>
                            </div>
                            <div class="payway__m-b-i-indicator">
                                <span class="payway__m-b-i-i-img"></span>
                            </div>
                        </div> -->
                        <div class="payway__m-b-item" @click="payway = '2'" :class="{ 'payway__m-b-item_acitve': payway === '2' }">
                            <div class="payway__m-b-i-text">Ngân hàng</div>
                            <div class="payway__m-b-i-icon">
                                <span class="payway__m-b-i-icon-img" style="background-image: url(../img/pay_epay.png);"></span>
                            </div>
                            <div class="payway__m-b-i-indicator">
                                <span class="payway__m-b-i-i-img"></span>
                            </div>
                        </div>
                        <div class="payway__m-b-item" @click="payway = '1'" :class="{ 'payway__m-b-item_acitve': payway === '1' }">
                            <div class="payway__m-b-i-text">Số dư</div>
                            <div class="payway__m-b-i-icon">
                                <span class="payway__m-b-i-icon-img" style="background-image: url(../img/pay_balance.png);"></span>
                            </div>
                            <div class="payway__m-b-i-indicator">
                                <span class="payway__m-b-i-i-img"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <ul>
                        <li class="payway-li act">
                            <i></i>
                            <p>Ngân hàng</p>
                        </li>
                        <li class="payway-li">
                            <i></i>
                            <p>Số dư</p>
                        </li>
                    </ul> -->
                    <div class="fc" style="vertical-align: right;">
                        <p ng-show="paymentNum === '1.0'" style="text-align: right; padding-right: 10px; line-height: 40px;">
                            <span style="padding-top: 2px; padding-right:5px;">Tổng tiền:</span>
                            <i ng-bind="resPrice | priceFormat"></i>
                            <span class="" style="padding-top: 3px;">VND</span>
                        </p>
                        <p ng-show="paymentNum !== '1.0'" style="text-align: right; line-height: 40px; color: #969696;">
                            Trả góp hàng tháng:
                            <i ng-bind="resPrice | priceFormat" style="margin-left: 5px;"></i>
                            <span class="" style="color: #F7004C; padding-top: 2px;">VND x
                                <span ng-bind="fenqiNum"></span>
                            </span>
                            <img src="../img/titi.png" alt="" style="width:15px;height:15px;cursor: pointer; margin-top: 12px;" ng-click="information()"
                                data-toggle="modal" data-target="#myhead" class="moneryIcon" />
                        </p>
                        <div class="" style="text-align: right;">
                            <a href="" class="aa no_checkbox1" onclick="submit()">Mua ngay</a>
                        </div>
                        <div class="p" style="text-align: right; opacity: 0;">
                            <input type="checkbox" id="selectAll" />
                            <span>Đồng ý</span>
                            <i href="buyIntro.html" target="_self">Hợp đồng liên quan đến khoản vay</i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- 弹出模态框（Modal） -->
        <div class="modal fade" id="myhead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div style="display: table;width:690px;height:100%;margin:0 auto;">
                <div class="modal-dialog" style="display: table-cell;text-align: center;vertical-align: middle;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="left">Thông tin về số tiền trả góp</div>
                            <div class="right" data-dismiss="modal">
                                <span class="alert__b-m-t-close"></span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <table border="1" class="tables">
                                <thead>
                                    <tr>
                                        <th>Hóa đơn</th>
                                        <th>Số tiền phải trả hàng tháng</th>
                                        <th>Phí dịch vụ hàng tháng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.4.1"></script>
    <script src="../js/jquery-accordion-menu.js?version=2.4.1" type="text/javascript"></script>
    <script type="text/javascript" src="../js/swiper.min.js?version=2.4.1"></script>
    <script src="../js/bootstrap.js?version=2.4.1"></script>
    <!-- <script src="../js/yii.js?version=2.4.1"></script> -->
    <script src="../js/base.js?version=2.4.1"></script>
    <script src="../js/img_silder.js?version=2.4.1"></script>
    <script src="../js/xSlider.js?version=2.4.1"></script>
    <script src="../js/popup.js?version=2.4.1"></script>
    <script src="../js/ajax.js?version=2.4.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md555.js?version=2.4.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.4.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/pay.js?version=2.4.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md5.js?version=2.4.1"></script>
    <script src="../js/vue.min.js?version=2.4.1"></script>
    <script src="../js/common.js?version=2.4.1" type="text/javascript" charset="utf-8"></script>

    <script>
        window.setTimeout(function () {
            if (localStorage.getItem("funId")) {
                F._userViewDetailInfo({}, function (ret) {
                    if (ret.data.headimage) {
                        $('.userLogin-info__top-face').eq(0).css('background-image', 'url(' + ret.data.headimage + ')');
                    }
                });
            }
        }, 700);


        var loading = new F._loading();
        F.orderNo = ''; // 存放已创建好的订单号
        F.tradeNo = ''; // 存放已创建好的交易号
        F.createOrder_info = {
            isCreate: false, // 是否已创建订单
            isFull: false, // 是否为全款订单
        };

        /*tcy -start-*/
        // F.is_submit = false; // 是否创建成功过订单

        // var funId = localStorage.getItem("funId");
        // if (funId == "" || funId == null) {
        //     window.location.href = "./login.html";
        // }

        // 提交补全信息
        function userAddDetailInfo(data) {
            loading.show();
            F._userAddDetailInfo(data, function (ret) {
                loading.hide();
                if (!ret) return false;

                switch (ret.code) {
                    case 10000:

                        var payway = F.vue.payway;
                        // payway_get(function (result) {
                        //     payway = result + '';
                        // });

                        if (F.isToCart) {
                            if (payway === '1') {
                                F._payPwd_open(function (paypassword) {
                                    loading.show();
                                    F._batchPayment({
                                        // orderdetails: F.orderdetails,
                                        orderno: F.orderdetails.orderNo,
                                        tradeno: F.orderdetails.tradeNo,
                                        payway: payway,
                                        paypassword: paypassword,
                                    }, batchPayment_callback);
                                });
                            } else {
                                loading.show();
                                F._batchPayment({
                                    // orderdetails: F.orderdetails,
                                    orderno: F.orderdetails.orderNo,
                                    tradeno: F.orderdetails.tradeNo,
                                    payway: payway,
                                    paypassword: '',
                                }, batchPayment_callback);
                            }
                        } else {
                            if (payway === '1') {
                                F._payPwd_open(function (paypassword) {
                                    loading.show();
                                    F._payOrder({
                                        timeoutExpress: 1800, // 半个小时
                                        totalAmount: F.totalamount, // 总金额
                                        orderNo: F.orderNo,
                                        tradeNo: F.tradeNo,
                                        advance: parseInt(F.totalamount * F.paymentNum),
                                        payRate: F.paymentNum,
                                        repaymentMonth: F.fenqiNum,
                                        prepay: parseInt(F.totalamount * F.paymentNum),
                                        payway: payway,
                                        paypassword: paypassword,
                                    }, payOrder_callback);
                                });
                            } else {
                                loading.show();
                                F._payOrder({
                                    timeoutExpress: 1800, // 半个小时
                                    totalAmount: F.totalamount, // 总金额
                                    orderNo: F.orderNo,
                                    tradeNo: F.tradeNo,
                                    advance: parseInt(F.totalamount * F.paymentNum),
                                    payRate: F.paymentNum,
                                    repaymentMonth: F.fenqiNum,
                                    prepay: parseInt(F.totalamount * F.paymentNum),
                                    payway: payway,
                                    paypassword: '',
                                }, payOrder_callback);
                            }
                        }

                        break;

                    default:
                        F._confirm('Gợi ý', 'Gửi thông tin thất bại', 'error', [{
                            name: 'Xác nhận',
                            func: function () { }
                        }]);
                        break;
                }
            });
        }

        // 去补全信息
        function getSchoolInfo_addInfo(userInfo) {
            loading.show();
            F._getSchoolInfo({}, function (ret) {
                loading.hide();
                var baseinfo = new F._baseinfo(ret.details, userInfo);
                baseinfo.show();
                $("#submit_baseinfo").on('click', function () {
                    baseinfo.submit(function (result) {
                        baseinfo.hide();
                        userAddDetailInfo(result);
                    });
                });
            });
        }

        // 提交订单
        function submit() {
            // return false;
            if (!localStorage.getItem("funId")) {
                F._confirm('Gợi ý', 'Vui lòng đăng nhập', 'tips', [{
                    name: 'Xác nhận',
                    func: function () {
                        window.location.href = 'login.html';
                    }
                }]);
                return false;
            }

            if (!F.username || !F.msisdn || !F.address) {
                F._confirm('Gợi ý', 'Vui lòng Thêm địa chỉ nhận hàng', 'tips', [{
                    name: 'Xác nhận',
                    func: function () {
                        location.href = location.href + '#';
                    }
                }]);
                return false;
            }

            if (!F.address && F.addrlistData.length) {
                F._confirm('Gợi ý', 'Vui lòng chọn địa chỉ nhận hàng của bạn', 'tips', [{
                    name: 'Xác nhận',
                    func: function () {

                    }
                }]);
                return false;
            }

            if (!F.division2ndName) {
                F._confirm("Gợi ý", "Địa chỉ này chưa đầy đủ, Vui lòng Sửa", "tips", [
                    {
                        name: "Xác nhận",
                        func: function () {
                        }
                    }
                ]);
                return false;
            }

            function get_num(array) {
                var index;
                var quantity = 0;
                for (index = 0; index < array.length; index++) {
                    quantity += array[index].quantity;
                }
                return quantity;
            }

            F.paymentNum = parseFloat(F.paymentNum);
            F.totalamount = parseFloat(F.totalamount);
            F.quantity = get_num(F.LS__data);

            function analyze_orderdetails(array) {
                var index;
                var result = {
                    totalAmount: 0,
                    orgAmount: 0,
                    advance: 0,
                    goodsDetail: [],
                    subject: '',
                };
                var result_ids = [];

                function edit_detail(item) {
                    var result = {};
                    result.number = item.quantity;
                    result.cartitemid = item.id + '';
                    result.productInfoId = item.itemId;
                    return result;
                }

                for (index = 0; index < array.length; index++) {
                    result.totalAmount += array[index].totalAmount * array[index].quantity;
                    result.orgAmount += array[index].orgPrice ? array[index].orgPrice * array[index].quantity : 0;
                    result.advance += array[index].totalAmount * array[index].quantity * F.paymentNum;
                    result.subject += array[index].subject + ', ';
                    result.goodsDetail.push(edit_detail(array[index]));

                    // result_ids.push(array[index].id);
                }
                result.subject = result.subject.slice(0, -2);
                // F.result_ids = result_ids.join(',');

                
                return result;
            }

            F._is_initPaypassword(function (status) {
                if (status === false && F.vue.payway === '1') {
                    F._confirm("Gợi ý", "Vui lòng đặt mật khẩu giao dịch", "tips", [
                        {
                            name: "Xác nhận",
                            func: function () {
                                window.open('./back_id.html?from=payPwd');
                            }
                        }
                    ]);
                    return false;
                }

                if (F.isToCart) {
                    loading.show();
                    var analyze_orderdetails_result = analyze_orderdetails(F.LS__data);
                    F._createDisOrder({
                        orderdetails: [{
                            payRate: F.paymentNum + '',
                            orderNo: F._create_orderno(localStorage.getItem("funId")),
                            totalAmount: analyze_orderdetails_result.totalAmount,
                            orgAmount: analyze_orderdetails_result.orgAmount,
                            advance: analyze_orderdetails_result.advance,
                            currency: 'VND',
                            subject: analyze_orderdetails_result.subject,
                            goodsDetail: JSON.stringify(analyze_orderdetails_result.goodsDetail),
                            repaymentMonth: F.fenqiNum,
                        }],
                        ordertype: F.paymentNum === 1 ? "3" : "4",
                        addrid: F.address_id,
                    }, createDisOrder_callback);

                    // F._batchCreateOrder({
                    //     orderdetails: JSON.stringify(edit_orderdetails(F.LS__data)),
                    //     msisdn: F.msisdn,
                    //     address: F.address,
                    //     username: F.username,
                    //     remark: '',
                    //     division2ndName: F.division2ndName,
                    //     division2ndCode: F.division2ndCode,
                    //     division3rdName: F.division3rdName,
                    //     division3rdCode: F.division3rdCode,
                    //     division4thName: F.division4thName,
                    //     division4thCode: F.division4thCode,
                    // }, batchCreateOrder_callback);

                } else if (F.paymentNum === 1) { // 全款

                    loading.show();
                    F._createDisOrder({
                        orderdetails: [{
                            payRate: '1',
                            orderNo: F._create_orderno(localStorage.getItem("funId")),
                            totalAmount: F.totalamount,
                            orgAmount: F.orgPrice,
                            advance: F.totalamount,
                            currency: 'VND',
                            subject: F.subject,
                            goodsDetail: JSON.stringify([{
                                number: F.quantity,
                                cartitemid: '',
                                productInfoId: JSON.parse(F.goodsDetail)['id']
                            }]),
                            repaymentMonth: 0,
                        }],
                        ordertype: "2",
                        addrid: F.address_id,
                    }, createDisOrder_callback);

                    // F._fullOrderCreate({
                    //     totalamount: F.totalamount,
                    //     orgamount: F.orgPrice,
                    //     advance: F.totalamount,
                    //     payrate: '1',
                    //     repaymentmonth: '0',
                    //     subject: F.subject,
                    //     goodsdetail: F.goodsDetail,
                    //     timeoutexpress: '86400',
                    //     msisdn: F.msisdn,
                    //     address: F.address,
                    //     username: F.username,
                    //     number: F.quantity,
                    //     division2ndName: F.division2ndName,
                    //     division2ndCode: F.division2ndCode,
                    //     division3rdName: F.division3rdName,
                    //     division3rdCode: F.division3rdCode,
                    //     division4thName: F.division4thName,
                    //     division4thCode: F.division4thCode,
                    // }, fullOrderCreate_callback);

                } else {

                    loading.show();
                    F._createDisOrder({
                        orderdetails: [{
                            payRate: F.paymentNum + '',
                            orderNo: F._create_orderno(localStorage.getItem("funId")),
                            totalAmount: F.totalamount,
                            orgAmount: F.orgPrice,
                            advance: parseInt(F.totalamount * F.paymentNum),
                            currency: 'VND',
                            subject: F.subject,
                            goodsDetail: JSON.stringify([{
                                number: F.quantity,
                                cartitemid: '',
                                productInfoId: JSON.parse(F.goodsDetail)['id']
                            }]),
                            repaymentMonth: F.fenqiNum,
                        }],
                        ordertype: "0",
                        addrid: F.address_id,
                    }, createDisOrder_callback);

                    // F._createOrder({
                    //     totalAmount: F.totalamount,
                    //     orgAmount: F.orgPrice,
                    //     advance: parseInt(F.totalamount * F.paymentNum),
                    //     payRate: F.paymentNum,
                    //     repaymentMonth: F.fenqiNum,
                    //     subject: F.subject,
                    //     goodsDetail: F.goodsDetail,
                    //     msisdn: F.msisdn,
                    //     address: F.address,
                    //     username: F.username,
                    //     number: F.quantity,
                    //     division2ndName: F.division2ndName,
                    //     division2ndCode: F.division2ndCode,
                    //     division3rdName: F.division3rdName,
                    //     division3rdCode: F.division3rdCode,
                    //     division4thName: F.division4thName,
                    //     division4thCode: F.division4thCode,
                    // }, createOrder_callback);
                }

            });
        }

        function createDisOrder_callback(ret) {
            loading.hide();

            if (!ret) return false;
            if (ret.code !== 10000) return false;
            F.orderNo = ret.orderNo;
            F.tradeNo = ret.tradeNo;

            var payway = F.vue.payway;
            function go_pay() {
                if (payway === '1') {
                    F._payPwd_open(function (paypassword) {
                        loading.show();
                        F._payDisOrder({
                            orderno: F.orderNo,
                            tradeno: F.tradeNo,
                            payway: payway,
                            paypassword: paypassword,
                        }, paymentDisOrder_callback);
                    });
                } else {
                    loading.show();
                    F._payDisOrder({
                        orderno: F.orderNo,
                        tradeno: F.tradeNo,
                        payway: payway,
                        paypassword: '',
                    }, paymentDisOrder_callback);
                }
            }

            if (F.paymentNum === 1) {
                // 全款
                go_pay();
            } else {
                console.log('111111111');
                // window.location.href = './successOrder.html?type=1';
            }
        }

        function paymentDisOrder_callback(ret) {
            loading.hide();
            if (!ret) return false;
            if (ret.code !== 10000) return false;

            window.location.href = './successPay.html?type=2';
        }
        
        function batchCreateOrder_callback(ret) {
            loading.hide();

            if (!ret) return false;
            if (ret.code !== 10000) return false;
            F.orderdetails = ret.orderdetails;

            // 删除购物车中国相应的商品
            F._cart_remove({
                cartitemids: F.result_ids,
                orderno: '',
            }, function (ret) {
                if (!ret) return false;
                if (ret.code !== 10000) return false;
            });

            var payway = F.vue.payway;

            function go_pay() {
                if (payway === '1') {
                    F._payPwd_open(function (paypassword) {
                        loading.show();
                        F._batchPayment({
                            // orderdetails: F.orderdetails,
                            orderno: F.orderdetails.orderNo,
                            tradeno: F.orderdetails.tradeNo,
                            payway: payway,
                            paypassword: paypassword,
                        }, batchPayment_callback);
                    });
                } else {
                    loading.show();
                    F._batchPayment({
                        // orderdetails: F.orderdetails,
                        orderno: F.orderdetails.orderNo,
                        tradeno: F.orderdetails.tradeNo,
                        payway: payway,
                        paypassword: '',
                    }, batchPayment_callback);
                }
            }

            if (ret.orderdetails.repaymentMonth === 0) { // 全款
                go_pay();
            } else {
                loading.show();
                F._userViewDetailInfo({}, function (ret) {
                    loading.hide();
                    if (!ret) return false;

                    if (ret.status) { // 资料齐全
                        go_pay();
                    } else { // 资料不全
                        F._confirm('Gợi ý', 'Bạn chưa hoàn thiện thông tin chi tiết, vui lòng hoàn thiện trước', 'tips', [{
                            name: 'Để sau',
                            func: function () { }
                        }, {
                            name: 'Hoàn thiện ngay',
                            func: function () {
                                getSchoolInfo_addInfo(ret.data);
                            }
                        }]);
                    }
                });
            }
        }

        function batchPayment_callback(ret) {
            loading.hide();
            if (!ret) return false;
            if (ret.code !== 10000) return false;

            window.location.href = './successPay.html';
        }

        function createOrder_callback(ret) {
            loading.hide();
            if (!ret) return false;

            if (ret.code !== 10000) return false;

            F.orderNo = ret.orderNo;
            F.tradeNo = ret.tradeNo;

            F.createOrder_info.isCreate = true;
            F.createOrder_info.isFull = false;


            loading.show();
            F._userViewDetailInfo({}, function (ret) {
                loading.hide();
                if (!ret) return false;

                if (ret.status) { // 资料齐全

                    var payway = F.vue.payway;
                    // payway_get(function (result) {
                    //     payway = result + '';
                    // });

                    if (payway === '1') {
                        F._payPwd_open(function (paypassword) {
                            loading.show();
                            F._payOrder({
                                timeoutExpress: 1800, // 半个小时
                                totalAmount: F.totalamount, // 总金额
                                orderNo: F.orderNo,
                                tradeNo: F.tradeNo,
                                advance: parseInt(F.totalamount * F.paymentNum),
                                payRate: F.paymentNum,
                                repaymentMonth: F.fenqiNum,
                                prepay: parseInt(F.totalamount * F.paymentNum),
                                payway: payway,
                                paypassword: paypassword,
                            }, payOrder_callback);
                        });
                    } else {
                        loading.show();
                        F._payOrder({
                            timeoutExpress: 1800, // 半个小时
                            totalAmount: F.totalamount, // 总金额
                            orderNo: F.orderNo,
                            tradeNo: F.tradeNo,
                            advance: parseInt(F.totalamount * F.paymentNum),
                            payRate: F.paymentNum,
                            repaymentMonth: F.fenqiNum,
                            prepay: parseInt(F.totalamount * F.paymentNum),
                            payway: payway,
                            paypassword: '',
                        }, payOrder_callback);
                    }


                } else { // 资料不全

                    F._confirm('Gợi ý', 'Bạn chưa hoàn thiện thông tin chi tiết, vui lòng hoàn thiện trước', 'tips', [{
                        name: 'Để sau',
                        func: function () { }
                    }, {
                        name: 'Hoàn thiện ngay',
                        func: function () {
                            getSchoolInfo_addInfo(ret.data);
                        }
                    }]);

                }
            });
        }

        function payOrder_callback(ret) {
            loading.hide();
            if (!ret) return false;

            if (ret.code !== 10000) return false;

            window.location.href = './successPay.html';
        }

        function fullOrderCreate_callback(ret) {
            loading.hide();
            if (!ret) return false;

            if (ret.code !== 10000) return false;

            F.orderNo = ret.orderNo;
            F.tradeNo = ret.tradeNo;

            F.createOrder_info.isCreate = true;
            F.createOrder_info.isFull = true;

            var payway = F.vue.payway;
            // payway_get(function (result) {
            //     payway = result + '';
            // });

            if (payway === '1') {

                F._payPwd_open(function (paypassword) {
                    loading.show();
                    F._orderFullPay({
                        orderNo: F.orderNo,
                        tradeNo: F.tradeNo,
                        advance: F.totalamount,
                        payway: payway,
                        paypassword: paypassword,
                    }, orderFullPay_callback);
                });

            } else {
                loading.show();
                F._orderFullPay({
                    orderNo: F.orderNo,
                    tradeNo: F.tradeNo,
                    advance: F.totalamount,
                    payway: payway,
                }, orderFullPay_callback);
            }
        }

        function orderFullPay_callback(ret) {

            loading.hide();
            if (!ret) return false;

            if (ret.code !== 10000) return false;
            window.location.href = './successPay.html';
        }

        // 获取地址, 姓名, 电话
        // function addressInfo_get(callback) {
        //     function get_address(self) {
        //         var result = '';
        //         result = self.find('.js_address_desc').eq(0).html() + ' ' + self.find('.js_address_main').eq(0).html();
        //         return result;
        //     }
        //     $('.site__main-item').each(function () {
        //         var self = $(this);
        //         if (self.hasClass('site__main-item_active')) {
        //             var username = self.find('.js_username').eq(0).html();
        //             var msisdn = self.find('.js_msisdn').eq(0).html();
        //             var address = get_address(self);
        //             // self.find('.js_address').eq(0).html()
        //             callback({
        //                 username: username,
        //                 msisdn: msisdn,
        //                 address: address,
        //                 length: $('.site__main-item').length,
        //             });
        //         }
        //     });
        // }

        // 获取支付方式
        // function payway_get(callback) {
        //     var index = 0;
        //     $('.payway-li').each(function () {
        //         var self = $(this);
        //         var id = index === 0 ? '2' : '1';
        //         if (self.hasClass('act')) {
        //             callback(id);
        //         }
        //         index += 1;
        //     });
        // }
        /*tcy -start-*/

        F.vue = {
            payway: '2',
            paymentNum: +F.paymentNum
        }

        function new_vue() {
            F.vue = new Vue({
                el: $('#payway__main-bottom')[0],
                data: F.vue,
                methods: {
                    // plus: plus,
                    // minus: minus,
                },
                computed: {

                },
                watch: {
                    paymentNum: function (val, oldVal) {
                        if (val === 1) {
                            $('.fullpay_mark').show();
                        } else {
                            $('.fullpay_mark').hide();
                        }
                    },
                },
            });
        }


        var swiper = new Swiper('#index_banner', {
            pagination: '.swiper-pagination',
            loop: true,
            grabCursor: true,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplay: 4000,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
        });
        $('.hot_brand').hover(function () {
            $(this).css('background', '#fff');
            $(this).find('.category_act').css('display', 'block');
            $(this).find('a').css('color', '#666');
            $(this).find('p').css('color', '#666');
        }, function () {
            $(this).css('background', 'rgba(0,0,0,0.2)');
            $(this).find('.category_act').css('display', 'none');
            $(this).find('a').css('color', '#eee');
            $(this).find('p').css('color', '#fff');
        })

        setTimeout(function () {
            new_vue();
        }, 1400);


        // $('.li-right button').click(function () {
        //     $('.li-right button').removeClass('b_active');
        //     $(this).addClass('b_active');
        // })
        $('.way li').click(function () {
            $('.way li').removeClass('act');
            $(this).addClass('act');
        })
        //          $('body').delegate('.li span.moren','click',function(){
        //              $('.li').removeClass('act');
        //              $(this).parents('.li').addClass('act');
        //          })

        $('#selectAll').attr("checked", false);
        $('#selectAll').click(function () {
            if ($(this).is(':checked')) {
                $('.fc .aa').removeClass('no_checkbox');

            } else {
                $('.fc .aa').addClass('no_checkbox');
            }
        })

        $('#phone').blur(function () {
            var phone = $("#phone").val();
            if (!F._phoneExpr.test(phone)) {
                $('#errormsg').show();
                $('#errormsg small').html('định dạng số điện thoại sai');
                return;
            }

            $('#errormsg').hide();

        })
        $('#names').blur(function () {

            var name = $("#names").val();
            if (name.length <= 1) {
                $('#errormsg').show();
                $('#errormsg small').html('Định dạng tên không đúng');
                return;
            }

            $('#errormsg').hide();
        })
        $('#textarea').blur(function () {

            var addr = $('#textarea').val();
            if (addr.length < 1) {
                $('#errormsg').show();
                $('#errormsg small').html('Định dạng địa chỉ sai');
                return;
            }
            $('#errormsg').hide();

        })
        $('.addAddrli img').click(function () {
            $('#names,#phone,#textarea').val('');

        })
    </script>
    <script type="text/javascript">
        //截取Url里面的参数   
        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串  
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]); //获取中文参数转码<span style="font-family: Arial, Helvetica, sans-serif;">decodeURI</span>, （unescape只针对数字, 中文乱码)  
                }
            }
            return theRequest;
        }
        $(function () {
            //通过url取数  
            var request = new Object();
            request = GetRequest();
            var price = request['price'];
            var buyNum = request['buyNum'];
            var fenqiNum = request['fenqiNum'];
            var total = parseFloat(price) * parseInt(buyNum);

            $("#buyNum").html(buyNum);
            $("#price").html(price);
            $("#total").html(total);
        });
    </script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>