<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Trung tâm cá nhân</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111518610-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111518610-1');
    </script>
    <link href="../css/jquery-accordion-menu.css?version=2.1.0" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css?version=2.1.0" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.1.0">
    <link href="../css/style.css?version=2.1.0" rel="stylesheet">
    <link rel="stylesheet" href="../css/oneself.css?version=2.1.0" />
    <link href="../css/index_add_img.css?version=2.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.1.0">
    <link rel="stylesheet" href="../css/upload.css?version=2.1.0" />
    <link rel="stylesheet" href="../css/personal.css?version=2.1.0" />
    <link rel="stylesheet" href="../css/base.css?version=2.1.0">
    <style>
        .navh .nav a:nth-child(1) {
            border-bottom: 5px solid #0075f6;
            height: 37px;
        }

        /*tcy*/

        .footer {
            float: left;
        }

        .perone input,
        #degree {
            color: #333;
        }

        .abc {
            color: #0075f6;
        }

        .g_byyx-label {
            position: relative;
        }

        .g_byyx-label-mask {
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: 0;
            right: 0;
            z-index: 11111;
        }
        
        /*tcy*/
    </style>
</head>

<body ng-app="selfApp" ng-controller="selfCtrl">
    <header class="header" id="header"></header>
    <div class="all all_nav">
        <div class="content navh" style="overflow: inherit;">
            <div class="category left" style="width:182px;height:37px;background: transparent;">
                <!--<a href="#" class="category_a"></a>-->
                <!-- <img src="../img/h.jpg" alt="" style="margin-left: -12px;width: 205px;margin-top: -11px;" /> -->
            </div>
            <div class="nav left">
                <a href="../index.html" class="">Trang chủ</a>
            </div>
            <div class="iwant right">
                <a href="bill.html" class="">Tôi muốn thanh toán nợ &gt;</a>
            </div>
        </div>
    </div>
    <!--板块-->
    <article style="position: relative; z-index: 100; min-height: 500px;">
        <div class="con">
            <div id="one" style="height:auto">
                <div class="left one-left">
                    <div class="img">
                        <img src="../img/36.png" alt="" class="img-bg" />
                        <div class="phone">
                            <img src="../img/37.png" onerror="nofind(this)" alt="" class="img-phone" data-toggle="modal" data-target="#myhead" />
                            <script type="text/javascript">
                                function nofind(img) {
                                    img.src = "../img/37.png";
                                    img.onerror = null;
                                }
                            </script>
                            <p>Chào buổi sáng！</p>
                        </div>
                    </div>
                    <ul>
                        <li class="one act">
                            <a href="personal.html">Trung tâm cá nhân</a>
                        </li>
                        <li class="two">
                            <a href="oneself.html">Trung tâm an ninh</a>
                        </li>
                        <li class="three">
                            <a href="order.html">Đơn hàng của tôi</a>
                        </li>
                        <li class="four">
                            <a href="bill.html">Hóa đơn của tôi</a>
                        </li>
                        <li class="five">
                            <a href="collection.html">Bộ sưu tập của tôi</a>
                        </li>
                        <li class="seven">
                            <a href="complaint.html">Góp ý của tôi</a>
                        </li>
                        <li class="eig">
                            <a href="address.html">Địa chỉ nhận hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="right one-right">
                    <h2>Thông tin cá nhân</h2>
                    <div class="personal">
                        <div class="perone">
                            <span>Họ tên</span>
                            <input type="text" id="g_name" />
                            <br />
                            <span>Giới tính</span>
                            <select name="" id="g_sex" style="width: 250px; color: #333;">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                            <br />
                            <span>Chứng minh thư</span>
                            <input type="text" id="g_identification">
                            <br />
                            <div style="overflow: hidden;">
                                <span class="addleft">Địa chỉ</span>
                                <textarea class="addright" name="" rows="" cols="" placeholder="Vui lòng bổ sung địa chỉ cụ thể, ví dụ như tên đường, số nhà,số tầng và số phòng"></textarea>
                                <br />
                            </div>
                            <span>Địa chỉ thư điện tử</span>
                            <input type="email" id="g_email" />
                            <br />
                        </div>
                        <div class="perone">
                            <div style="position: relative;">
                                <span>Người liên lạc 1</span>
                                <input type="text" id="g_cname1" disabled="disabled" />
                                <i class="in1" data-toggle="modal" data-target="#addperon">Thay đổi > </i>
                                <br />
                                <button class="addperon addperons" data-toggle="modal" data-target="#addperon">Nhấp để thêm người liên lạc</button>
                            </div>
                            <div style="position: relative;">
                                <span>Người liên lạc 2</span>
                                <input type="text" id="g_cname2" disabled="disabled" />
                                <i class="in2" data-toggle="modal" data-target="#addperon1">Thay đổi > </i>
                                <br />
                                <button class="addperon addperon1" data-toggle="modal" data-target="#addperon1">Nhấp để thêm người liên lạc</button>
                            </div>
                            <div style="position: relative;">
                                <span>Người liên lạc 3</span>
                                <input type="text" id="g_cname3" disabled="disabled" />
                                <i class="in3" data-toggle="modal" data-target="#addperon2">Thay đổi > </i>
                                <br />
                                <button class="addperon addperon2" data-toggle="modal" data-target="#addperon2">Nhấp để thêm người liên lạc</button>
                            </div>
                        </div>
                        <div class="perone">
                            <span>Tốt nghiệp trường</span>
                            <a class="g_byyx-label">
                                <select name="" id="g_byyx" style="width: 250px; color: #333;" disabled>
                                    <option ng-repeat="item in schoolList" ng-value="item.id" ng-bind="item.name" class="abc">school name</option>
                                </select>
                                <b class="g_byyx-label-mask"></b>
                            </a>
                            <br />
                            <div style="padding-left: 155px; margin-bottom: 10px; color: #f00; display: block;" id="suport_tips">* Bạn học thân mến, tạm thời chúng tôi chỉ thực hiện thanh toán trả góp tại những trường đại
                                học có trong danh sách, những trường đại học không thể chọn được vì nhân lực công ty chúng
                                tôi có hạn nên tạm thời chưa thể thanh toán, nhưng bạn có thể lựa chọn thanh toán toàn bộ.
                                Nếu có thắc mắc gì, xin hãy để lại lời nhắn trên facebook. Cám ơn sự ủng hộ của bạn.</div>
                            <span>Địa chỉ trường</span>
                            <input type="text" id="g_xxdz" />
                            <br />
                            <span>Khoa</span>
                            <input type="text" id="g_yx" />
                            <br />
                            <span>Chuyên ngành</span>
                            <input type="text" id="g_zy" />
                            <br />
                            <span>Học vị</span>
                            <!--<input type="text"  id="degree"/>-->
                            <select name="" id="degree">
                                <option value="Tiểu học">Tiểu học</option>
                                <option value="Trung học cơ sở">Trung học cơ sở</option>
                                <option value="Trung học phổ thông">Trung học phổ thông</option>
                                <option value="Cao đẳng">Cao đẳng</option>
                                <option value="Chính quy">Chính quy</option>
                                <option value="Cử nhân">Cử nhân</option>
                                <option value="Thạc sĩ">Thạc sĩ</option>
                                <option value="Tiến sĩ">Tiến sĩ</option>
                                <option value="Sau tiến sĩ">Sau tiến sĩ</option>
                                <option value="Khác">Khác</option>
                            </select>
                            <br />
                            <span>Ngày Sinh</span>
                            <select name="" id="birthday-day">
                                <option value="">Ngày</option>
                            </select>
                            <select name="" id="birthday-month">
                                <option value="">Tháng</option>
                            </select>
                            <select name="" id="birthday-year">
                                <option value="">Năm</option>
                            </select>
                            <br />
                            <span>Khoảng thời gian học</span>
                            <select name="" id="sctime-ac-m" style="color: #333;">
                                <option value="">Tháng</option>
                            </select>
                            <select name="" id="sctime-ac" style="color: #333;">
                                <option value="">Năm</option>
                            </select>
                            <input type="text" class="times timesup" style="display:none" />
                            <small>Đến</small>
                            <input type="text" class="times timescl" style="display:none" />
                            <select name="" id="sctime-ov-m" style="color: #333;">
                                <option value="">Tháng</option>
                            </select>
                            <select name="" id="sctime-ov" style="color: #333;">
                                <option value="">Năm</option>
                            </select>
                            <b id="tis" style="color:red;display: none;">sai</b>
                            <p style="color: #aaa; font-weight: 300;padding-left: 150px;margin-top: -20px;">* Nếu đang đi học thì không cần điền thời gian tốt nghiệp</p>
                        </div>
                        <button id="submit">Xác nhận tồn tại</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- 弹出模态框（更换头像） -->
    <div class="modal fade" id="myhead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="left">Cài đặt ảnh đại diện</div>
                    <div class="right" data-dismiss="modal">
                        <span class="alert__b-m-t-close"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal_one">
                        <i class="uphead">Tải ảnh đại diện</i>
                        <span>Hỗ trợ định dạng jpg, png or bmp, kích cỡ không quá 2M</span>
                    </div>
                    <div class="modal_two" style="display: none">
                        <div class="imageBox">
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="action">
                            <div class="new-contentarea tc">
                                <a href="javascript:void(0)" class="upload-img">
                                    <label for="upload-file">Tải ảnh lên</label>
                                </a>
                                <input type="file" class="" name="upload-file" id="upload-file" />
                            </div>
                            <input type="button" id="btnCrop" class="Btnsty_peyton" value="Xem trước">
                            <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+">
                            <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
                        </div>
                        <div class="cropped"></div>
                        <div class="right">
                            <!--<i class="sure" disabled="true">Xác nhận</i>-->
                            <button type="text" class="sure" disabled="true" ng-click="uploadFiles()">Xác nhận</button>
                        </div>
                    </div>
                    <div class="modal_three" style="display: none">
                        <img src="../img/32.png" alt="" />
                        <p>Tải ảnh đại diện thành công</p>
                        <i class="success" data-dismiss="modal">Xác nhận</i>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!--联系人一-->
    <div class="modal fade" id="addperon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="left">Người liên lạc 1</div>
                    <div class="right" data-dismiss="modal">
                        <span class="alert__b-m-t-close"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="color: #888;font-size: 12px;margin-bottom: 20px;margin-top: -10px;padding-left: 50px;">* Nếu không cần thiết chúng tôi sẽ không liên hệ, các thông tin đều được bảo mật</p>
                    <span>Quan hệ</span>
                    <select name="" id="per1_gx" style="width: 200px;">
                        <option value="Bố">Bố</option>
                        <option value="Mẹ">Mẹ</option>
                    </select>
                    <br />
                    <span>Họ tên</span>
                    <input type="text" id="per1_name" placeholder="Vui lòng nhập tên người liên lạc" />
                    <br />
                    <span>Số điện thoại không</span>
                    <input type="tel" id="per1_phone" placeholder="Vui lòng nhập số điện thoại" />
                    <br />
                    <span>Số chứng minh thư</span>
                    <input type="text" id="per1_id" placeholder="">
                    <button class="sub_b sub_b1" data-dismiss="modal">Xác nhận không có lỗi, lưu lại</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!--联系人二-->
    <div class="modal fade" id="addperon1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="left">Người liên lạc 2</div>
                    <div class="right" data-dismiss="modal">
                        <span class="alert__b-m-t-close"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="color: #888;font-size: 12px;margin-bottom: 20px;margin-top: -10px;padding-left: 50px;">* Nếu không cần thiết chúng tôi sẽ không liên hệ, các thông tin đều được bảo mật</p>
                    <span>Quan hệ</span>
                    <select name="" id="per2_gx" style="width: 200px;">
                        <option value="Bố">Bố</option>
                        <option value="Chú bác">Chú bác</option>
                        <option value="Anh em">Anh em</option>
                        <option value="Ông nội">Ông nội</option>
                        <option value="Bà nội">Bà nội</option>
                        <option value="Cô">Cô</option>
                        <option value="Mẹ">Mẹ</option>
                        <option value="Cậu">Cậu</option>
                        <option value="Chị em">Chị em</option>
                        <option value="Ông ngoại">Ông ngoại</option>
                        <option value="Bà ngoại">Bà ngoại</option>
                        <option value="Dì">Dì</option>
                        <option value="Vợ/chồng">Vợ/chồng</option>
                        <option value="Bạn trai/bạn gái">Bạn trai/bạn gái</option>
                        <option value="Bạn cùng phòng">Bạn cùng phòng</option>
                        <option value="Bạn thân">Bạn thân</option>
                        <option value="Thầy cô giáo/ sếp">Thầy cô giáo/ sếp</option>
                        <option value="Bạn học/ đồng nghiệp">Bạn học/ đồng nghiệp</option>
                    </select>
                    <br />
                    <span>Họ tên</span>
                    <input type="text" id="per2_name" placeholder="Vui lòng nhập tên người liên lạc" />
                    <br />
                    <span>Số điện thoại không</span>
                    <input type="tel" id="per2_phone" placeholder="Vui lòng nhập số điện thoại" />
                    <br />
                    <!-- <span>Số chứng minh thư</span>
                    <input type="text" id="per2_id" placeholder=""> -->
                    <button class="sub_b sub_b2" data-dismiss="modal">Xác nhận không có lỗi, lưu lại</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!--联系人三-->
    <div class="modal fade" id="addperon2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="left">Người liên lạc 3</div>
                    <div class="right" data-dismiss="modal">
                        <span class="alert__b-m-t-close"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="color: #888;font-size: 12px;margin-bottom: 20px;margin-top: -10px;padding-left: 50px;">* Nếu không cần thiết chúng tôi sẽ không liên hệ, các thông tin đều được bảo mật</p>
                    <span>Quan hệ</span>
                    <select name="" id="per3_gx" style="width: 200px;">
                        <option value="Bố">Bố</option>
                        <option value="Chú bác">Chú bác</option>
                        <option value="Anh em">Anh em</option>
                        <option value="Ông nội">Ông nội</option>
                        <option value="Bà nội">Bà nội</option>
                        <option value="Cô">Cô</option>
                        <option value="Mẹ">Mẹ</option>
                        <option value="Cậu">Cậu</option>
                        <option value="Chị em">Chị em</option>
                        <option value="Ông ngoại">Ông ngoại</option>
                        <option value="Bà ngoại">Bà ngoại</option>
                        <option value="Dì">Dì</option>
                        <option value="Vợ/chồng">Vợ/chồng</option>
                        <option value="Bạn trai/bạn gái">Bạn trai/bạn gái</option>
                        <option value="Bạn cùng phòng">Bạn cùng phòng</option>
                        <option value="Bạn thân">Bạn thân</option>
                        <option value="Thầy cô giáo/ sếp">Thầy cô giáo/ sếp</option>
                        <option value="Bạn học/ đồng nghiệp">Bạn học/ đồng nghiệp</option>
                    </select>
                    <br />
                    <span>Họ tên</span>
                    <input type="text" id="per3_name" placeholder="Vui lòng nhập tên người liên lạc" />
                    <br />
                    <span>Số điện thoại không</span>
                    <input type="tel" id="per3_phone" placeholder="Vui lòng nhập số điện thoại" />
                    <br />
                    <!-- <span>Số chứng minh thư</span>
                    <input type="text" id="per3_id" placeholder=""> -->
                    <button class="sub_b sub_b3" data-dismiss="modal">Xác nhận không có lỗi, lưu lại</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.1.0"></script>
    <script src="../js/bootstrap.js?version=2.1.0"></script>
    <script type="text/javascript">
        var hh = $('.one-right').height();
        $('.one-left').height(hh + 60);
    </script>
    <script type="text/javascript" src="../js/cropbox.js?version=2.1.0"></script>
    <script src="../js/md555.js?version=2.1.0" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.1.0" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.1.0" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../js/sys/sessionStorage.js?version=2.1.0" type="text/javascript" charset="utf-8"></script> -->
    <!-- tcy -start- -->
    <script src="../js/md5.js?version=2.1.0"></script>
    <script src="../js/common.js?version=2.1.0"></script>
    <!-- tcy -end- -->
    <!-- <script src="../js/common/common.js?version=2.1.0" type="text/javascript" charset="utf-8"></script> -->
    <script src="../js/common/check_login.js?version=2.1.0" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common/getUserInfo.js?version=2.1.0" type="text/javascript" charset="utf-8"></script>
    <script src="../js/jquery-accordion-menu.js?version=2.1.0" type="text/javascript"></script>    
    <script>
        window.setTimeout(function () {
            if (localStorage.getItem("funId")) {
                F._userViewDetailInfo({}, function (ret) {
                    if (ret.data.headimage) {
                        $('.userLogin-info__top-face').eq(0).css('background-image', 'url(' + ret.data.headimage + ')');
                    }
                });
            }
        }, 700);


        $("#g_byyx").change(function () {
            return false; // 总是显示
            var id = $("#g_byyx").val();
            if (F._edit_support_school(id, F.schoolList)) {
                $('#suport_tips').hide();
            } else {
                $('#suport_tips').show();
            }
        });

        $(".g_byyx-label-mask").on('click', function () {
            F._run_accordionMenu(jQuery, F.SchoolInfo, function (ret) {
                if (ret.is_support) $('#g_byyx').val(ret.id);
            });
        });

        // function day_options_produce_htmlStr() {
        //     var i;
        //     var result = '';
        //     for (i = 1; i < 32; i++) {
        //         (i < 10) && (i = '0' + i);
        //         result += '<option value="' + i + '">' + i + '</option>';
        //     }
        //     return result;
        // }

        // function month_options_produce_htmlStr() {
        //     var i;
        //     var result = '';
        //     for (i = 1; i < 13; i++) {
        //         (i < 10) && (i = '0' + i);
        //         result += '<option value="' + i + '">' + i + '</option>';
        //     }
        //     return result;
        // }

        // function year_options_produce_htmlStr(val) {
        //     val = val || 0;
        //     var i;
        //     var result = '';
        //     var year_now = new Date().getFullYear() + val;
        //     for (i = year_now; i > 1900 - 1; i--) {
        //         result += '<option value="' + i + '">' + i + '</option>';
        //     }
        //     return result;
        // }

        var day_options_produce = F._day_options_produce_htmlStr()
        var month_options_produce = F._month_options_produce_htmlStr()
        var year_options_produce = F._year_options_produce_htmlStr()

        $('#birthday-day').append(day_options_produce);
        $('#birthday-month').append(month_options_produce);
        $('#birthday-year').append(year_options_produce);

        // $('#sctime-ov').append(year_options_produce_htmlStr(8));
        $('#sctime-ov').append(year_options_produce);
        $('#sctime-ac').append(year_options_produce);
        $('#sctime-ac-m').append(month_options_produce);
        $('#sctime-ov-m').append(month_options_produce);


        $(window).load(function () {
            var options = {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: '../img/37.png'
            }
            var cropper = $('.imageBox').cropbox(options);
            $('#upload-file').on('change', function () {
                var reader = new FileReader();
                reader.onload = function (e) {
                    options.imgSrc = e.target.result;
                    cropper = $('.imageBox').cropbox(options);
                }
                reader.readAsDataURL(this.files[0]);
                //this.files = [];
            })
            $('#btnCrop').on('click', function () {
                var img = cropper.getDataURL();
                $('.cropped').html('');

                $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;" class="upimg" id="upimg"><p>180px*180px</p>');
                setTimeout(function () {
                    var img = $('.cropped').html()
                    if (img == '' || img == 0) {

                    } else {
                        $('.sure').attr('disabled', false).css('background', '#0075f6').css('color', '#fff');
                        var imgSrc = $('#upimg').attr('src');
                        upload(imgSrc);
                    }
                }, 500)
            })
            $('#btnZoomIn').on('click', function () {
                cropper.zoomIn();
            })
            $('#btnZoomOut').on('click', function () {
                cropper.zoomOut();
            })
        });

        function upload(imgSrcs) {
            var imgSrc = imgSrcs;
            var blob = dataURLtoBlob(imgSrc);

            function dataURLtoBlob(dataurl) {
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);
                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }
                return new Blob([u8arr], {
                    type: mime
                });
            }

            $('.sure').click(function () {
                var funid = localStorage.getItem("funId");
                var formData = new FormData();
                formData.append("funid", funid);
                formData.append("files", blob, 'jpg');

                F._uploadFilesUser(formData, function (ret) {

                });
            })
        }
        $('.uphead').click(function () {
            $('.modal_one').hide();
            $('.modal_two').show();
        })



        $('.sure').click(function () {

            $('.modal_two').hide();
            $('.modal_three').show();
            var img = $('.upimg').attr('src');
            $('.img-phone').attr('src', img);
            $('.modal-header').find('.left').html('Cài đặt')

        })
        $('.success').click(function () {
            setTimeout(function () {
                $('.modal-header').find('.left').html('Cài đặt ảnh đại diện')
                $('.modal_one').show();
                $('.modal_two').hide();
                $('.modal_three').hide();

            }, 1500)
            $('#upimg').attr('src', '');
            $('#upload-file').val('');
            //window.location.href='';
        });

        // function gotoFind() {
        //     var findcontent = $("#findIpt").val();
        //     if (findcontent != "") {
        //         window.location.href = "./search.html?findcontent=" + findcontent;
        //     }
        // }

        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }
        $('.sub_b1').click(function () {
            var name = $('#per1_name').val();
            if (name == 0 && name == '') {
                $('#g_cname1').val(name);
                $('.addperons').show();
                $('.in1').hide();
            } else {
                $('.addperons').hide();
                $('.in1').show();
                $('#g_cname1').val(name);
            }
        })
        $('.sub_b2').click(function () {
            var name = $('#per2_name').val();
            if (name == 0 && name == '') {
                $('.addperon1').show();
                $('.in2').hide();
            } else {
                $('.addperon1').hide();
                $('.in2').show();
                $('#g_cname2').val(name);
            }
        })

        $('.sub_b3').click(function () {
            var name = $('#per3_name').val();
            if (name == 0 && name == '') {
                $('.addperon2').show();
                $('.in3').hide();
            } else {
                $('.addperon2').hide();
                $('.in3').show();
                $('#g_cname3').val(name);
            }
        })


        $('#sctime-ac').change(function () {
            var thiss = $(this).val();
            var num = $('#sctime-ov').val();

            if (num && thiss > num) {
                $('#tis').show();
                $('#submit').attr('disabled', true)
            } else {

                $('#tis').hide();
                $('#submit').attr('disabled', false)
            }
        })
        $('#sctime-ov').change(function () {
            var thiss = $(this).val();
            var num = $('#sctime-ac').val();
            if (!thiss) $('#sctime-ov-m').val('');

            if (thiss && thiss <= num) {
                $('#tis').show();
                $('#submit').attr('disabled', true)
            } else {
                $('#tis').hide();
                $('#submit').attr('disabled', false)
            }

        })
        $('#sctime-ac-m').change(function () {
            // var thiss = $(this).val();
            // var numovs = $('#sctime-ac').val();
            // if (thiss && !numovs) {
            //     $('#tis').hide();
            //     $('#submit').attr('disabled', false)
            // } else {
            //     $('#tis').show();
            //     $('#submit').attr('disabled', true)
            // }

            // var thiss = $(this).val();
            // var numovs = $('#sctime-ac').val();
            // if (thiss > numovs) {
            //     $('#tis').show();
            //     $('#submit').attr('disabled', true)
            // } else {
            //     $('#tis').hide();
            //     $('#submit').attr('disabled', false)
            // }
        })
    // $('#sctime-ov-m').change(function() {
    //     var thiss = $(this).val();
    //     if (!thiss && $('#sctime-ov').val().length) {
    //         $('#tis').show();
    //         $('#submit').attr('disabled', true)
    //     } else {
    //         $('#tis').hide();
    //         $('#submit').attr('disabled', false)
    //     }
    // })
    </script>
    <script src="../js/userCenterJS/personal.js?version=2.1.0" type="text/javascript" charset="utf-8"></script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>