<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="9KbQKGBaz3NrMQ3liXwYWk6WkgEf5raA6c-6coqnME3PMcFVP092_qbGqN2tYGypDTzSB-2Zhr074Le4DZpLng==">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Tìm kiếm sản phẩm</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306571-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112306571-1');
    </script>
    <link href="../css/bootstrap.css?version=2.8.0-alpha" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.8.0-alpha">
    <link href="../css/style.css?version=2.8.0-alpha" rel="stylesheet">
    <link rel="stylesheet" href="../css/more.css?version=2.8.0-alpha" />
    <link href="../css/index_add_img.css?version=2.8.0-alpha" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.8.0-alpha">
    <link rel="stylesheet" href="../css/base.css?version=2.8.0-alpha">
    <style>
        .dropup {
            transform: rotate(180deg);
        }

        article .changePage button {
            width: inherit;
            height: inherit;
            padding: 3px 8px;
        }

        article .changePage input {
            width: 50px
        }

        .one:after {
            display: block;
            content: "";
            clear: both;
            height: 0;
        }

        .one .right .right-top input[type=submit] {
            border: 1px solid #aaa;
            cursor: pointer;
            background: #fff;
            width: 55px;
            height: 25px;
        }

        .one .right .right-top input[type=submit]:hover {
            background-color: #0075f6;
            color: #fff
        }

        .one .right {
            width: 100%;
        }

        .one .right .ul a {
            position: relative;
            height: 351px;
        }

        .one .right .ul a h5 {
            line-height: 20px;
        }

        .changePage:after {
            display: block;
            content: "";
            clear: both;
            height: 0;
        }
    </style>
</head>

<body id="app" ng-app='searchApp' ng-controller="searchCtrl">
    <header class="header" id="header"></header>
    <div class="all" style="border-bottom:2px solid #107AEA">
        <div class="content navh">
            <div class="category left">
                <a href="#" class="category_a">Tìm kiếm sản phẩm</a>
            </div>
            <div class="nav left">
                <a href="./couponcenter.html" class="">Mã Giảm Giá</a>
                <!-- <a href="./prepaid.html" class="">Dịch Vụ</a> -->
            </div>
            <div class="iwant right">
            </div>
        </div>
    </div>
    <!--版本-->
    <article>
        <div class="content" style="overflow: visible;">
            <div class="one" style="overflow: visible;">
                <div class="left">
                </div>
                <div class="right">
                    <div class="right-top">
                        <span class="left" ng-click="changeOrder('default')">
                            <!-- Xác nhận thứ tự -->
                        </span>
                        <!-- <span class="right">Có một <b ng-bind="totalnumber"></b> phẩm   &nbsp;&nbsp;&nbsp; </span> -->
                        <span class="right" style="cursor: default;">
                            <b ng-bind="totalnumber"></b> Sản Phẩm Được Tìm Thấy</span>
                    </div>
                    <div class="ul" style="overflow: visible;padding-left:6%;">
                        <a ng-repeat="item in findDetails" ng-click="product(item.typeId,item.brandId,item.id)">
                            <img src="{{item.iconUrl}}" alt="" />
                            <h4 ng-bind="item.name"></h4>
                            <!--    <div>{{item.id}}</div>-->
                            <p>Giá bán:
                                <span ng-bind="item.price | priceFormat"></span> VND </p>
                            <h5>
                                <span ng-bind="item.price/12 | priceFormat"></span> VND x 12 Tháng</h5>
                            <!-- <h5>Trả góp hàng tháng: <br /> <span ng-bind="item.price/12 | priceFormat"></span> VND x12</h5> -->
                            <span ng-show="item.promotion" class="item-badge" style="background-image: url(../img/badge1.png);">
                                <span class="item-badge__reduce">GIẢM</span>
                                <span class="item-badge__mian" ng-bind="100 - item.discount"></span>
                                <span class="item-badge__percent">%</span>
                            </span>
                        </a>
                    </div>
                    <h1 ng-bind="findTip" style="font-size: 25px;"></h1>
                </div>
            </div>
            <div class="changePage">
                <div style="margin-bottom: 30px;">
                    <button id="lastPagebtn" ng-click="lastPage()">&lt;</button>
                    <span style="padding-top: 3px;">Trang hiện tại:
                        <span ng-init="nowPage=1" ng-bind="nowPage" class="pop"></span>&nbsp;&nbsp;</span>
                    <span style="padding-top: 3px;">Trang :
                        <span ng-bind="totalPage"></span> tiên</span>
                    <button id="nextPagebtn" ng-click="nextPage()">&gt;</button>
                </div>
            </div>
        </div>
    </article>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.8.0-alpha"></script>
    <script type="text/javascript" src="../js/swiper.min.js?version=2.8.0-alpha"></script>
    <!-- <script src="../js/yii.js?version=2.8.0-alpha"></script> -->
    <script src="../js/base.js?version=2.8.0-alpha"></script>
    <script src="../js/img_silder.js?version=2.8.0-alpha"></script>
    <script src="../js/xSlider.js?version=2.8.0-alpha"></script>
    <script src="../js/popup.js?version=2.8.0-alpha"></script>
    <script src="../js/md555.js?version=2.8.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.8.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.8.0-alpha" type="text/javascript" charset="utf-8"></script>
    <script src="../js/getMd5Code.js?version=2.8.0-alpha" type="text/javascript" charset="utf-8"></script>
    <!-- tcy -start- -->
    <script src="../js/md5.js?version=2.8.0-alpha"></script>
    <script src="../js/common.js?version=2.8.0-alpha"></script>
    <!-- tcy -end- -->
    <!-- <script src="../js/sys/config.js?version=2.8.0-alpha" type="text/javascript" charset="utf-8"></script> -->
    <script>
        window.setTimeout(function () {
            if (localStorage.getItem("funId")) {
                F._userViewDetailInfo({}, function (ret) {
                    if (ret.data.headimage) {
                        $('.userLogin-info__top-face').eq(0).css('background-image', 'url(' + ret.data.headimage + ')');
                    }
                });
            }
        }, 700);

        F.query = F._hrefUtils.parse().query || {};

        var currentpage = F.query.page || 1;

        var swiper = new Swiper('#index_banner', {
            pagination: '.swiper-pagination',
            loop: true,
            grabCursor: true,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplay: 4000,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
        });

        $('#findIpt').val(F.query.findcontent || '');



        $('.hot_brand').hover(function () {
            $('.hot_brand').removeClass('act');
            $(this).addClass('act')
        }, function () {
            $(this).removeClass('act');
            $('.category_1 .hot_brand:nth-child(2)').addClass('act');
        })

        $('#importPage').change(function () {
            var number = $(this).val();
            if (number < 0) {

                $(this).val('')
            }
            var maxlength = $("#importPage").attr('maxlength');
            if (number > maxlength) {

                $(this).val('')
            }
        })
        $('.priceone,.pricetwo').change(function () {
            var number = $(this).val();
            if (number < 0) {

                $(this).val('')
            }
            if (isNaN(number)) {

                $(this).val('')
            }

        })

        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }

        // function keysearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         angular.element(document.getElementById('app')).scope().confirm()
        //     }
        // }

        var loading = new F._loading();

        var app = angular.module("searchApp", []);
        app.filter('priceFormat', function () { //可以注入依赖
            return F._priceFormat;
        });

        app.controller("searchCtrl", function ($scope, $http) {
            //截取Url里面的参数   
            function GetRequest() {
                var url = location.search; //获取url中"?"符后的字串  
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]); //获取中文参数转码<span style="font-family: Arial, Helvetica, sans-serif;">decodeURI</span>, （unescape只针对数字, 中文乱码)  
                    }
                }
                return theRequest;
            }

            var request = new Object();
            request = GetRequest();
            /*搜索接口*/

            var appid = localStorage.getItem("funId");
            var method = 'fun.find.finding';
            var charset = 'utf-8';

            var funid = '';
            var findcontent = findcontent;
            var pagesize = '8';
            var Key = 'commodityKey';
            sousuoReq(currentpage); //页面加载获取数据


            /*下一页*/
            $scope.nextPage = function () {
                currentpage++;

                F._setUrl('page', currentpage);
                $scope.nowPage = currentpage;
                sousuoReq(currentpage);
                $('#lastPagebtn').css({
                    'background': '#0075F6'
                }).attr('disabled', false)
            }
            /*上一页*/
            $scope.lastPage = function () {
                currentpage--;
                F._setUrl('page', currentpage);
                $scope.nowPage = currentpage;
                sousuoReq(currentpage);
                $('#nextPagebtn').css({
                    'background': '#0075F6'
                }).attr('disabled', false)
            }

            $scope.confirm = function () {
                currentpage = $("#importPage").val();
                $('.pop').html(currentpage);
                if (currentpage >= $scope.totalPage) {
                    currentpage = $scope.totalPage;
                } else if (currentpage <= 1) {
                    currentpage = 1;
                } else {
                    $scope.nowPage = currentpage;
                }
                sousuoReq(currentpage);
                $('#nextPagebtn').css({
                    'background': '#0075F6'
                }).attr('disabled', false)
                $('#lastPagebtn').css({
                    'background': '#0075F6'
                }).attr('disabled', false)
            }

            function sousuoReq(currentpage) {

                var findcontent = request['findcontent'];

                // loading.show();
                // F._findProducts({
                //     findcontent: findcontent,
                //     pagesize: pagesize,
                //     currentpage: currentpage,
                // }, function(ret) {
                //     loading.hide();
                //     if (!ret) return false;
                //     if (ret.code !== 10000) return false;


                //     $scope.findDetails = ret.details;
                //     $scope.totalnumber = ret.totalnumber;

                //     $scope.totalPage = ret.totalpage;

                //     if ($scope.totalPage == 1) {
                //         $("#nextPagebtn").attr("disabled", true);
                //         $("#nextPagebtn").css("background", "#d7d7d7");
                //         $("#lastPagebtn").attr("disabled", true);
                //         $("#lastPagebtn").css("background", "#d7d7d7");
                //     } else {
                //         if (currentpage <= 1) {
                //             $("#lastPagebtn").attr("disabled", true);
                //             $("#lastPagebtn").css("background", "#d7d7d7");
                //             $("#nextPagebtn").attr("disabled", false);
                //             $("#nextPagebtn").css("background", "#0075F6");
                //         } else if (currentpage >= $scope.totalPage) {
                //             $("#nextPagebtn").attr("disabled", true);
                //             $("#nextPagebtn").css("background", "#d7d7d7");
                //             $("#lastPagebtn").attr("disabled", false);
                //             $("#lastPagebtn").css("background", "#0075F6");
                //         }
                //     }
                //     if ($scope.findDetails.length > 0) {
                //         for (var i = 0; i < $scope.findDetails.length; i++) {
                //             var imgUrls = $scope.findDetails[i].imageUrls;
                //             var imgUrlsArray = imgUrls.split("|");
                //             $scope.findDetails[i].image = imgUrlsArray[0];
                //         }

                //         $scope.findTip = "";
                //     } else {
                //         $scope.findTip = "Xin lỗi, không tìm thấy “" + findcontent + "”";

                //     }
                // });


                var url = F._findProducts_cd;
                var ajax = new ajaxClass($http, url, "GET");


                var md5SigntypeStrig = "appid=" + appid + "&method=" + method + "&charset=" + charset + Key;
                var signType = hex_md5(md5SigntypeStrig);


                var md5EncryptStrig = "funid=" + funid + "&findcontent=" + findcontent + "&pagesize=" + pagesize + "&currentpage=" + currentpage + Key;
                var encrypt = md5(md5EncryptStrig);


                ajax.params = {
                    appid: appid,
                    method: method,
                    charset: charset,
                    //          signtype: 'e3f82d7c51a8e0a09c396fd929e5133e',
                    signtype: signType,
                    encrypt: encrypt,
                    timestamp: '2017-09-06 11:30:50',
                    version: '1.0',
                    funid: funid,
                    findcontent: findcontent,
                    pagesize: pagesize,
                    currentpage: currentpage
                };
                ajax.successCallback = function (res) {


                    if (res.data.code == 10000) {

                        $scope.findDetails = res.data.details;
                        $scope.totalnumber = res.data.totalnumber;

                        $scope.nowPage = currentpage;
                        $scope.totalPage = res.data.totalpage;

                        if ($scope.totalPage == 1) {
                            $("#nextPagebtn").attr("disabled", true);
                            $("#nextPagebtn").css("background", "#d7d7d7");
                            $("#lastPagebtn").attr("disabled", true);
                            $("#lastPagebtn").css("background", "#d7d7d7");
                        } else {
                            if (currentpage <= 1) {
                                $("#lastPagebtn").attr("disabled", true);
                                $("#lastPagebtn").css("background", "#d7d7d7");
                                $("#nextPagebtn").attr("disabled", false);
                                $("#nextPagebtn").css("background", "#0075F6");
                            } else if (currentpage >= $scope.totalPage) {
                                $("#nextPagebtn").attr("disabled", true);
                                $("#nextPagebtn").css("background", "#d7d7d7");
                                $("#lastPagebtn").attr("disabled", false);
                                $("#lastPagebtn").css("background", "#0075F6");
                            }
                        }
                        if ($scope.findDetails.length > 0) {
                            for (var i = 0; i < $scope.findDetails.length; i++) {
                                // var imgUrls = $scope.findDetails[i].imageUrls;
                                // var imgUrlsArray = imgUrls.split("|");
                                $scope.findDetails[i].image = $scope.findDetails[i].iconUrl;

                            }
                            $scope.findTip = "";
                        } else {
                            $scope.findTip = "Xin lỗi, không tìm thấy “" + findcontent + "”";

                        }

                    }
                };
                ajax.failureCallback = function (res) {

                };
                ajax.requestData();
            }

            $scope.product = function (typeId, brandId, id) {
                gotoDetails(typeId, brandId, id);
                // gotoDetails(typeId, brandId);
            }
        })

        //点击商品页面跳转详情
        // function gotoDetails(typeId, brandId) {
        //     if (brandId != null && brandId != "" && typeId != null && typeId != "") {
        //         //window.location.href = "details.html?typeId=" + typeId + "&brandId=" + brandId;
        //         // window.open("details.html?typeId=" + typeId + "&brandId=" + brandId)

        //         // tcy
        //         window.location.href = "details.html?typeId=" + typeId + "&brandId=" + brandId;
        //     } else {
        //         window.location.href = "";
        //     }
        // }

        function gotoFind() {
            var findcontent = $("#findIpt").val();
            if (findcontent != "") {
                window.location.href = "search.html?findcontent=" + findcontent;
            }
        }
    </script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>