<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="">
    <link rel='icon' href='../img/icon.png' type='image/x-ico' />
    <title>Linh kiện & phụ kiện</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112306571-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112306571-1');
    </script>
    <link href="../css/bootstrap.css?version=2.7.0-alpha.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/swiper.min.css?version=2.7.0-alpha.1">
    <link href="../css/style.css?version=2.7.0-alpha.1" rel="stylesheet">
    <link rel="stylesheet" href="../css/indels.css?version=2.7.0-alpha.1">
    <link href="../css/index_add_img.css?version=2.7.0-alpha.1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index_img.css?version=2.7.0-alpha.1">
    <link rel="stylesheet" href="../css/shuma.css?version=2.7.0-alpha.1" />
    <link rel="stylesheet" href="../css/base.css?version=2.7.0-alpha.1">
    <style>
        /* tcy -start-*/
        .swiper-slide-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next {
            display: none;
        }

        /* tcy -end-*/
    </style>
</head>

<body data-spy="scroll" data-target="#myScrollspy" ng-app="digitalApp" ng-controller="shumaCtrl">
    <header class="header" id="header"></header>
    <div class="all">
        <div class="content navh">
            <div class="category left">
                <a href="#" class="category_a">Linh kiện & phụ kiện</a>
            </div>
            <div class="nav left">
                <a href="./couponcenter.html" class="">Mã Giảm Giá</a>
                <a href="./prepaid.html" class="">Dịch Vụ</a>
            </div>
            <div class="iwant right">
                <a href="bill.html" target="_self" class="">Tôi muốn thanh toán nợ &gt;</a>
            </div>
        </div>
    </div>
    <div ng-controller="productCtrl">
        <div class="all banner_c" ng-controller="digitalCtrl">
            <div class="content">
                <div class="index_banner">
                    <div class="swiper-container" id="index_banner">
                        <div class="swiper-wrapper" ng-init="dtlBanner">
                            <div class="swiper-slide" ng-repeat="item in dtlBanner" ng-click="product(item.typeId,item.brandId)">
                                <!-- <a><img alt="" src="{{item.imageUrl}}" style="width:100%;height:100%"/></a> -->
                                <!-- tcy -start- -->
                                <a>
                                    <div class="swiper-slide-img" style="background-image: url({{item.imageUrl}});"></div>
                                </a>
                                <!-- tcy -end- -->
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="dt-swiper-prev swiper-button-prev iconfont"></div>
                        <div class="dt-swiper-next swiper-button-next iconfont"></div>
                    </div>
                </div>
                <div class="category_1 left">
                    <div class="hot_brand" style="height:100%">
                        <p>Thương hiệu nổi tiếng</p>
                        <a ng-repeat="item in ppq" style="padding:7px 14px">
                            <span ng-bind="item.name" ng-click="gotoMore2(item.id)"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--板块-->
        <div ng-controller="tuijianCtrl">
            <div class="content" style="overflow: visible;">
                <div class="banner1__title-left" style="padding-top: 30px; width: 100%; color: #F31D2F;">Đề cử hot</div>
                <div class="banner1__main-bottom" ng-init="jinxuan">
                    <li class="banner1__m-b-item" ng-repeat="jinxuan_item in jinxuan" ng-click="product(jinxuan_item.typeId,jinxuan_item.brandId)">
                        <div class="banner1__m-b-i-img" style="background-image: url({{ jinxuan_item.imageUrl }});"></div>
                        <div class="banner1__m-b-i-title" ng-bind="jinxuan_item.name"></div>
                        <div class="banner1__m-b-i-price">
                            <!-- Giá bán: -->
                            <span class="banner1__m-b-i-p-money" ng-bind="jinxuan_item.maxprice | priceFormat"></span> VND</div>
                        <div class="banner1__m-b-i-fenqi">
                            <span class="banner1__m-b-i-f-money" ng-bind="jinxuan_item.maxprice/12 | priceFormat"></span>
                            <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="" ng-controller="tuijianCtrl">
            <section class="banner1" ng-repeat="classfy in Products" ng-if="classfy._total">
                <div class="banner1__title">
                    <div class="banner1__title-left" ng-bind="classfy.name"></div>
                    <div class="banner1__title-right" ng-click="gotoMore1(classfy._sub_top[0].classfyId)">Xem nhiều hơn &gt; </div>
                </div>
                <div class="banner1__main">
                    <div class="banner1__main-top">
                        <div ng-repeat="sub_top_item in classfy._sub_top" ng-class="{ 'banner1__main-top-1': sub_top_item.position === 1, 'banner1__main-top-2': sub_top_item.position === 2, }"
                            style="background-image: url({{sub_top_item.imageUrl}});" ng-click="product(sub_top_item.typeId,sub_top_item.brandId)"></div>
                    </div>
                    <div class="banner1__main-bottom">
                        <li class="banner1__m-b-item" ng-repeat="sub_bottom_item in classfy['_sub_bottom']" ng-click="product(sub_bottom_item.typeId,sub_bottom_item.brandId)">
                            <div class="banner1__m-b-i-img" style="background-image: url({{ sub_bottom_item.imageUrl }});"></div>
                            <div class="banner1__m-b-i-title" ng-bind="sub_bottom_item.name"></div>
                            <div class="banner1__m-b-i-price">
                                <!-- Giá bán: -->
                                <span class="banner1__m-b-i-p-money" ng-bind="sub_bottom_item.maxprice | priceFormat"></span> VND</div>
                            <div class="banner1__m-b-i-fenqi">
                                <span class="banner1__m-b-i-f-money" ng-bind="sub_bottom_item.maxprice/12 | priceFormat"></span>
                                <span class="banner1__m-b-i-f-month">VND x 12 Tháng</span>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
        </div>
        <div id="center" class="">
            <article id="two3">
                <div class="content">
                    <h4>Dãy thương hiệu</h4>
                    <div class="img">
                        <a ng-repeat="item in ppq">
                            <span ng-click="gotoMore1(item.id)">
                                <img src="{{item.imageUrl}}" alt="" />
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../js/jquery.js?version=2.7.0-alpha.1"></script>
    <script type="text/javascript" src="../js/swiper.min.js?version=2.7.0-alpha.1"></script>
    <script src="../js/bootstrap.js?version=2.7.0-alpha.1"></script>
    <!-- <script src="../js/yii.js?version=2.7.0-alpha.1"></script> -->
    <script src="../js/base.js?version=2.7.0-alpha.1"></script>
    <script src="../js/img_silder.js?version=2.7.0-alpha.1"></script>
    <script src="../js/xSlider.js?version=2.7.0-alpha.1"></script>
    <script src="../js/popup.js?version=2.7.0-alpha.1"></script>
    <script src="../js/md555.js?version=2.7.0-alpha.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/md5.js?version=2.7.0-alpha.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/getMd5Code.js?version=2.7.0-alpha.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/angularjs.js?version=2.7.0-alpha.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/ajax.js?version=2.7.0-alpha.1" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common.js?version=2.7.0-alpha.1"></script>
    <script>

        $('.move_top').click(function () {
            $('html,body').animate({
                scrollTop: '0px'
            }, 1000);
        })

        // function gotoFind() {
        //     var findcontent = $("#findIpt").val();
        //     if (findcontent != "") {
        //         window.location.href = "search.html?findcontent=" + findcontent;
        //     }
        // }

        // function entersearch() {
        //     var event = window.event || arguments.callee.caller.arguments[0];
        //     if (event.keyCode == 13) {
        //         gotoFind();
        //     }
        // }
    </script>
    <script src="../js/index_four.js?version=2.7.0-alpha.1" type="text/javascript" charset="utf-8"></script>
    <script src="https://s22.cnzz.com/z_stat.php?id=1271691056&web_id=1271691056" language="JavaScript"></script>
</body>

</html>